<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="کانی بوم، شتابدهنده تخصصی معدن و صنایع معدنی است که با هدفتوسعه و ترويج نوآوری،  ایجاد زیرساخت‌های فناورانه  و حمایت از کسب‌وکارهای نوپا در بخش معدن و صنایع معدنی شکل گرفته است. تمرکز فعالیت این شتابدهنده بر تکمیل زنجیره ارزش مواد معدنی و هوشمندسازی معادن است."
    />
    <meta name="keywords" content="کانی بوم, شتابدهنده, سازندگاه, معدن" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>سازندگاه کسب و کارهای نوآورانه کانی بوم | درباره‌ما</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="../img/logo/logo_kaniboom_ficon.jpg" />
    <link rel="apple-touch-icon" href="../img/logo/logo_kaniboom_ficon.jpg" />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="../img/logo/logo_kaniboom_ficon.jpg"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="../img/logo/logo_kaniboom_ficon.jpg"
    />

    <!-- Styles -->
    <link href="../css/style.css" rel="stylesheet" media="screen" />
  </head>
  <body>
    <!-- Loader -->
    <div class="loader">
      <div class="page-lines">
        <div class="container">
          <div class="col-line col-xs-4">
            <div class="line"></div>
          </div>
          <div class="col-line col-xs-4">
            <div class="line"></div>
          </div>
          <div class="col-line col-xs-4">
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
      </div>
      <div class="loader-brand">
        <div class="sk-folding-cube">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
        </div>
      </div>
    </div>

    <!-- Header -->
    <header id="top" class="header-inner">
      <div class="brand-panel" style="background: none">
        <a href="#top" class="brand js-target-scroll hidden-xs hidden-sm">
          <img src="../img/logo/logo_kaniboom.png" />
        </a>
        <a href="#top" class="brand js-target-scroll hidden-md hidden-lg">
          <img src="../img/logo/logo_kaniboom.png" />
        </a>
      </div>

      <nav class="navbar-desctop visible-md visible-lg">
        <div class="container">
          <a href="#top" class="brand js-target-scroll">
            <img src="../img/logo/logo_kaniboom.png" />
          </a>
          <ul class="nav navbar-desctop-menu">
            <li>
              <a href="/">صفحه اصلی</a>
            </li>
            <li class="active">
              <a href="#top">درباره ما</a>
            </li>
            <li>
              <a href="/events">رویدادها</a>
            </li>
            <li>
              <a href="#">کانی بوم آکادمی</a>
              <ul>
                <li>
                  <a href="kanicamp">کانی‌کمپ</a>
                </li>
                <li>
                  <a href="boomcamp">بوم‌کمپ</a>
                </li>
                <!-- <li>
                  <a href="/">کانی کورس</a>
                </li>
                <li>
                  <a href="kaniamoz">کانی آموز</a>
                </li> -->
              </ul>
            </li>
            <li>
              <a href="/news">اخبار</a>
            </li>
            <li>
              <a href="register">ارسال طرح و ایده</a>
            </li>
            <!-- <li>
              <a href="/">تماس با ما</a>
            </li> -->
          </ul>
        </div>
      </nav>

      <!-- Navigation Mobile -->

      <nav class="nav navbar-mobile">
        <a href="#top" class="brand js-target-scroll">
          <img src="../img/logo/logo_kaniboom.png" />
        </a>

        <!-- Navbar Collapse -->

        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#navbar-mobile"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-mobile">
          <ul class="navbar-nav-mobile">
            <li>
              <a href="/">صفحه اصلی</a>
            </li>
            <li class="active">
              <a href="#top">درباره ما</a>
            </li>
            <li>
              <a href="/events">رویدادها</a>
            </li>
            <li>
              <a href="#">کانی بوم آکادمی</a>
              <ul>
                <li>
                  <a href="kanicamp">کانی‌کمپ</a>
                </li>
                <li>
                  <a href="boomcamp">بوم‌کمپ</a>
                </li>
                <!-- <li>
                  <a href="/">کانی کورس</a>
                </li>
                <li>
                  <a href="kaniamoz">کانی آموز</a>
                </li> -->
              </ul>
            </li>
            <li>
              <a href="/news">اخبار</a>
            </li>
            <li>
              <a href="register">ارسال طرح و ایده</a>
            </li>
            <!-- <li>
              <a href="/">تماس با ما</a>
            </li> -->
          </ul>
        </div>
      </nav>
    </header>

    <!-- Layout -->

    <div class="layout">
      <main
        class="main main-inner bg-about"
        data-stellar-background-ratio="0.6"
        style="background-position: 50% 0px"
      >
        <div class="container">
          <header class="main-header text-center">
            <h1>
              <span class="text-primary">کانی بوم، </span>سازندگاه کسب‌وکارهای
              نوآورانه
            </h1>
            <h3>شتابدهنده تخصصی دانش‌بنیان حوزه معدن و صنایع معدنی</h3>
          </header>
        </div>

        <div class="page-lines">
          <div class="container">
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </main>
      <div class="content">
        <section id="about" class="about">
          <div class="container">
            <div class="entry">
              <div class="col-md-6">
                <img
                  src="../img/aboutus/team.jpg"
                  class="img-responsive"
                  style="margin-bottom: 10px"
                />
              </div>
              <div class="col-md-6">
                <p class="entry-text text-justify">
                  شرکت دانش‌بنیان کانی‌بوم، شتابدهنده تخصصی معدن و صنایع معدنی و
                  دارای گواهینامه صلاحیت سطح یک شتابدهی از معاونت علمی، فناوری و
                  اقتصاد دانش‌بنیان ریاست جمهوری است. راهبرد این شرکت
                  ارزش‌آفرینی در زنجیره ارزش مواد معدنی با نگاه توسعه پایدار از
                  طریق بکارگیری نوآوری و استعداد‌های برتر است. این شرکت با
                  فراهم‌سازی زیرساخت‌ و امکانات مناسب و از طریق برنامه‌های
                  شتابدهی و تجاری‌سازی خود از راهکارهای فناورانه‌ای که در افزایش
                  بهره‌وری و ایمنی و کاهش هزینه‌ و زمان فعالیت‌های معدنکاری
                  مؤثرند، حمایت می‌کند. کانی بوم ایجاد زیرساخت و بستر مناسب برای
                  فعالیت نخبگان در زمان حال و آینده و جذب استعدادها و پرورش
                  نیروی انسانی کارآفرین، نوآور، توانمند، خلاق و با انگیزه را
                  سرلوحه کار خود قرارداده است.
                </p>
                <ul>
                  <li>
                    دارای تاییدیه شرکت‌های دانش‌بنيان از معاونت علمی و فناوری
                    ریاست جمهوری
                  </li>
                  <li>
                    کارگزار رسمی میز معدن معاونت علمی و فناوری ریاست جمهوری
                  </li>
                  <li>کارگزار تجارت فناوری شبکه فن بازار ملی ایران</li>
                  <li>کارگزار رسمی مرکز رشد فناوری نخبگان پارک فناوری پردیس</li>
                  <li>عضو مرکز شتابدهی نوآوری پارک فناوری پردیس</li>
                  <li>
                    دارای گواهینامه صلاحیت سطح یک شتابدهی در حوزه تخصصی معدن و
                    صنایع معدنی از معاونت علمی و فناوری ریاست جمهوری
                  </li>
                  <li>کارگزار تخصصی صنعت معدن پارک فناوری پردیس</li>
                  <li>
                    دارای گواهینامه فضای کار اشتراکی از مرکز شتابدهی نوآوری
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <section id="services" class="services section" style="margin-top: 3em">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                آمار و ارقام <span class="text-primary">کانی بوم</span>
              </h2>
              <strong class="fade-title-left">Statistics</strong>
            </header>
            <div class="section-content">
              <div class="row-base row">
                <div
                  class="col-about-spec col-sm-12 col-md-4"
                  style="direction: rtl; float: right"
                >
                  <div class="service-item text-center">
                    <img alt="" src="../img/img-icon/aboutus-01.png" />
                    <h4
                      class="text-center"
                      style="font-size: 14px; direction: rtl"
                    >
                      <span
                        class="text-primary"
                        style="display: block; font-size: 24px"
                        >۱۲۰ درخواست‌</span
                      >برای شرکت در برنامه شتابدهی
                    </h4>
                  </div>
                  <div class="service-item text-center">
                    <img alt="" src="../img/img-icon/aboutus-04.png" />
                    <h4
                      class="text-center"
                      style="font-size: 14px; direction: rtl"
                    >
                      <span
                        class="text-primary"
                        style="display: block; font-size: 24px"
                        >۳۶.۳ میلیاردتومان</span
                      >سرمایه تأمین‌شده برای استارت‌آپ‌ها
                    </h4>
                  </div>
                </div>
                <div
                  class="col-about-spec col-sm-12 col-md-4"
                  style="direction: rtl; float: right"
                >
                  <div class="service-item text-center">
                    <img alt="" src="../img/img-icon/aboutus-02.png" />
                    <h4
                      class="text-center"
                      style="font-size: 14px; direction: rtl"
                    >
                      <span
                        class="text-primary"
                        style="display: block; font-size: 24px"
                        >۲۶ استارت‌آپ‌</span
                      >پیش‌شتابدهی‌شده
                    </h4>
                  </div>
                  <div class="service-item text-center">
                    <img alt="" src="../img/img-icon/aboutus-03.png" />
                    <h4
                      class="text-center"
                      style="font-size: 14px; direction: rtl"
                    >
                      <span
                        class="text-primary"
                        style="display: block; font-size: 24px"
                        >۱۱ استارت‌آپ‌</span
                      >شتابدهی‌شده
                    </h4>
                  </div>
                </div>
                <div
                  class="col-about-spec col-sm-12 col-md-4"
                  style="direction: rtl; float: right"
                >
                  <div class="service-item text-center">
                    <img alt="" src="../img/img-icon/aboutus-05.png" />
                    <h4
                      class="text-center"
                      style="font-size: 14px; direction: rtl"
                    >
                      <span
                        class="text-primary"
                        style="display: block; font-size: 24px"
                        >۱۳۰+ شغل</span
                      >در نتیجه حمایت از تیم‌های استارت‌آپی
                    </h4>
                  </div>
                  <div class="service-item text-center">
                    <img alt="" src="../img/img-icon/aboutus-06.png" />
                    <h4
                      class="text-center"
                      style="font-size: 14px; direction: rtl"
                    >
                      <span
                        class="text-primary"
                        style="display: block; font-size: 24px"
                        >۱۲۷۹۰ نفر ساعت</span
                      >آموزش و منتورینگ تیم‌های استارت‌آپی
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="about section">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                ماموریت <span class="text-primary">کانی بوم</span>
              </h2>
              <strong class="fade-title-left">Mision</strong>
            </header>
            <div class="section-content">
              <p class="entry-text text-justify">
                <span class="text-primary">۱. </span>هدایت، حمایت و راهبری
                کسب‌وکارهای نوپای حوزه معدن و صنایع معدنی با تمرکز بر هوشمندسازی
                و فناوری‌های نوین؛
                <br />
                <span class="text-primary">۲. </span>راه‌اندازی کسب‌وکارهای نوپا
                مبتنی بر نیازهای فناورانه شرکت‌های بزرگ معدنی و صنایع معدنی؛
                <br />
                <span class="text-primary">۳. </span>جریان‌سازی و شکل‌دهی
                زیست‌بوم نوآوری معدن و صنایع معدنی؛
                <br />
                <span class="text-primary">۴. </span>کمک به تجاری‌سازی
                کسب‌وکارهای نوآورانه حوزه معدن؛
              </p>
            </div>
          </div>
        </section>

        <section class="project-details">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title" style="padding-bottom: 50px">
                تیم <span class="text-primary">کانی بوم</span>
              </h2>
              <strong class="fade-title-left">Our team</strong>
            </header>
            <div class="col-base col-sm-12 col-md-12">
              <div class="row" style="margin-bottom: 50px">
                <div class="col-sm-12 col-md-6">
                  <div class="bootcamp-item text-center">
                    <img alt="" src="../img/aboutus/ebadi.png" />
                    <h4 class="text-center" style="direction: rtl">
                      <span class="text-primary" style="display: block"
                        >مهرداد عبادی</span
                      >عضو هیئت‌مدیره و مدیر کسب‌وکار
                    </h4>
                    <p class="text-center" style="direction: rtl">
                      <!-- <i class="fa fa-phone text-primary"></i> تلفن: ۰۹۳۵۷۹۱۱۴۸۵
                      <br /> -->
                      <i class="fa fa-envelope text-primary"></i> ایمیل:
                      ebadi@kaniboom.ir
                    </p>
                  </div>
                </div>

                <div class="col-sm-12 col-md-6">
                  <div class="bootcamp-item text-center">
                    <img alt="" src="../img/aboutus/alishahi.png" />
                    <h4 class="text-center" style="direction: rtl">
                      <span class="text-primary" style="display: block"
                        >اردلان علیشاهی</span
                      >نایب‌رئیس هیئت‌مدیره و مدیرعامل
                    </h4>
                    <p class="text-center" style="direction: rtl">
                      <!-- <i class="fa fa-phone text-primary"></i> تلفن: ۰۹۱۲۱۲۳۰۹۰۷
                      <br /> -->
                      <i class="fa fa-envelope text-primary"></i> ایمیل:
                      alishahi@kaniboom.ir
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="objects" class="objects section">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                آدرس<span class="text-primary"> کانی بوم</span>
              </h2>
              <strong class="fade-title-left hidden-xs">Location</strong>
            </header>
            <div class="section-content">
              <div class="objects">
                <img alt="" class="img-responsive" src="../img/map.png" />

                <!-- Objects -->

                <!-- <div class="object-label" style="left:43.7%; top:30.1%;">
                  <div class="object-info in">
                    <h3 class="object-title text-center">کانی بوم</h3>
                    <p class="object-content text-center" style="direction: rtl">
                      <i class="fa fa-map-marker text-primary"></i>  تهران، آجودانیه، خیابان صمیع
                    </p>
                  </div>
                </div> -->

                <div class="object-label" style="left: 45.7%; top: 31.1%">
                  <div class="object-info">
                    <h3 class="object-title text-center">کانی بوم</h3>
                    <p
                      class="object-content text-center"
                      style="direction: rtl"
                    >
                      <i class="fa fa-map-marker text-primary"></i> تهران،
                      پردیس، پارک فناوری پردیس، فضای کار اشتراکی کوآپ
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Footer -->

        <footer id="footer" class="footer">
          <div class="container">
            <div class="row-base row">
              <div class="col-base text-left-md col-md-4">
                <a href="#" class="brand">
                  <img src="../img/logo/logo_kaniboom.png" />
                </a>
              </div>
              <div class="text-center-md col-base col-md-4">
                <a href="tel:09387536548" class="author-link">
                  طراحی وب سایت توسط کانی بوم
                </a>
              </div>
              <div
                class="text-right-md col-base col-md-4"
                style="direction: rtl"
              >
                © کلیه حقوق وب سایت متعلق به سازندگاه کسب‌وکارهای نوآورانه کانی
                بوم می باشد.
              </div>
            </div>
          </div>
        </footer>

        <div class="page-lines">
          <div class="container">
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SCRIPTS -->

    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/smoothscroll.js"></script>
    <script src="../js/jquery.validate.min.js"></script>
    <script src="../js/wow.min.js"></script>
    <script src="../js/jquery.stellar.min.js"></script>
    <script src="../js/jquery.magnific-popup.js"></script>
    <script src="../js/owl.carousel.min.js"></script>

    <!-- SLIDER REVOLUTION -->
    <script src="../js/rev-slider/jquery.themepunch.tools.min.js"></script>
    <script src="../js/rev-slider/jquery.themepunch.revolution.min.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS   -->
    <script src="../js/rev-slider/revolution.extension.actions.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.carousel.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.kenburn.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.layeranimation.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.migration.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.navigation.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.parallax.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.slideanims.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.video.min.js"></script>
    <script src="../js/interface.js"></script>
  </body>
</html>
