<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>سازندگاه کسب و کارهای نوآورانه کانی‌بوم | کمپ استارتاپی مسیر</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="../img/logo/logo_kaniboom_ficon.jpg" />
    <link rel="apple-touch-icon" href="../img/logo/logo_kaniboom_ficon.jpg" />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="../img/logo/logo_kaniboom_ficon.jpg"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="../img/logo/logo_kaniboom_ficon.jpg"
    />

    <!-- Styles -->
    <link href="../css/style.css" rel="stylesheet" media="screen" />
  </head>
  <body>
    <!-- Loader -->
    <div class="loader">
      <div class="page-lines">
        <div class="container">
          <div class="col-line col-xs-4">
            <div class="line"></div>
          </div>
          <div class="col-line col-xs-4">
            <div class="line"></div>
          </div>
          <div class="col-line col-xs-4">
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
      </div>
      <div class="loader-brand">
        <div class="sk-folding-cube">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
        </div>
      </div>
    </div>

    <!-- Header -->
    <header id="top" class="header-inner">
      <div class="brand-panel" style="background: none">
        <a href="#top" class="brand js-target-scroll hidden-xs hidden-sm">
          <img src="../img/logo/logo_kaniboom.png" />
        </a>
        <a href="#top" class="brand js-target-scroll hidden-md hidden-lg">
          <img src="../img/logo/logo_kaniboom.png" />
        </a>
      </div>

      <nav class="navbar-desctop visible-md visible-lg">
        <div class="container">
          <a href="#top" class="brand js-target-scroll">
            <img src="../img/logo/logo_kaniboom.png" />
          </a>
          <ul class="nav navbar-desctop-menu">
            <li>
              <a href="/">صفحه اصلی</a>
            </li>
            <li>
              <a href="about">درباره ما</a>
            </li>
            <li>
              <a href="/">رویدادها</a>
              <ul>
                <li>
                  <a href="/">کانی‌شو</a>
                </li>
                <li>
                  <a href="/">بومیت</a>
                </li>
                <li>
                  <a href="/">اینوتکس</a>
                </li>
                <li>
                  <a href="/">ریتکس</a>
                </li>
              </ul>
            </li>
            <li class="active">
              <a href="kanicamp">کانی‌بوم آکادمی</a>
              <ul>
                <li>
                  <a href="kanicamp">کانی‌کمپ</a>
                </li>
                <li>
                  <a href="boomcamp">بوم‌کمپ</a>
                </li>
                <li>
                  <a href="/">کانی کورس</a>
                </li>
                <li>
                  <a href="kaniamoz">کانی آموز</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/">استارت‌آپ‌ها</a>
            </li>
            <li>
              <a href="register">ارسال طرح و ایده</a>
            </li>
            <li>
              <a href="/">تماس با ما</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Navigation Mobile -->

      <nav class="nav navbar-mobile">
        <a href="#top" class="brand js-target-scroll">
          <img src="../img/logo/logo_kaniboom.png" />
        </a>

        <!-- Navbar Collapse -->

        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#navbar-mobile"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-mobile">
          <ul class="navbar-nav-mobile">
            <li>
              <a href="/">صفحه اصلی</a>
            </li>
            <li>
              <a href="about">درباره ما</a>
            </li>
            <li>
              <a href="/">رویدادها</a>
              <ul>
                <li>
                  <a href="/">کانی‌شو</a>
                </li>
                <li>
                  <a href="/">بومیت</a>
                </li>
                <li>
                  <a href="/">اینوتکس</a>
                </li>
                <li>
                  <a href="/">ریتکس</a>
                </li>
              </ul>
            </li>
            <li class="active">
              <a href="kanicamp">کانی‌بوم آکادمی</a>
              <ul>
                <li>
                  <a href="kanicamp">کانی‌کمپ</a>
                </li>
                <li>
                  <a href="boomcamp">بوم‌کمپ</a>
                </li>
                <li>
                  <a href="/">کانی کورس</a>
                </li>
                <li>
                  <a href="kaniamoz">کانی آموز</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/">استارت‌آپ‌ها</a>
            </li>
            <li>
              <a href="register">ارسال طرح و ایده</a>
            </li>
            <li>
              <a href="/">تماس با ما</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Layout -->

    <div class="layout">
      <main
        class="main main-inner bg-masir"
        data-stellar-background-ratio="0.6"
        style="
          background-position: 50% 0px;
          background: url(img/bg/masir.jpg) 50% 0 no-repeat;
          background-size: cover;
        "
      >
        <div class="container">
          <header class="main-header text-center">
            <img
              src="../img/logo/logo_boomcamp.png"
              style="width: 150px; margin-bottom: 30px"
            />
            <h1>
              <span
                class="text-primary"
                style="display: inline-block; padding-bottom: 10px"
                >مسیر</span
              >
              کمپ استارتاپی
            </h1>
            <h3
              class="col-about-title text-center"
              style="direction: rtl; margin-top: 15px"
            >
              <span
                class="text-primary"
                style="display: block; padding-bottom: 10px"
                ><i class="fa fa-calendar text-primary"></i> تیر تا شهریور ۱۴۰۲
              </span>
            </h3>
          </header>
        </div>

        <div class="page-lines">
          <div class="container">
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </main>
      <div class="content">
        <section id="about" class="about">
          <div class="container">
            <div class="entry">
              <div class="col-md-7">
                <img
                  src="../img/kaniboom-academic/about-masir.jpg"
                  class="img-responsive"
                  style="margin-bottom: 10px"
                />
              </div>
              <div class="col-md-5">
                <p class="entry-text text-justify">
                  کمپ استارتاپی مسیر هم‌زمان با هجدهمین فراخوان عضویت در مرکز
                  رشد پارک فناوری پردیس در تابستان ۱۴۰۲ برگزار خواهد شد. تیم‌ها
                  و شرکت‌های نوپای فعال در حوزه‌های فناوری اطلاعات و ارتباطات،
                  سامانه‌ها و نرم‌افزارهای هوشمند، هوش مصنوعی، اینترنت اشیاء،
                  بازی و بازی‌وار‌سازی (گیمیفیکیشن) می‌توانند به‌صورت حضوری و
                  غیرحضوری در کمپ استارتاپی مسیر شرکت کنند.
                  <br />
                  تیم‌های شرکت‌کننده در کمپ مسیر، طی دوره‌ای دوماهه و با حضور در
                  بیش از ۲۰۰ ساعت آموزش‌های کاربردی و هم‌نشینی‌های انتقال تجربه،
                  مهارت‌های مهم و اصلی راه‌اندازی و مدیریت کسب‌وکارهای نوپا را
                  فرامی‌گیرند و می‌توانند از فرصت حضور در فضای کار اشتراکی پارک
                  فناوری پردیس (کوآپ) برای تیم‌سازی و پیشبرد فعالیت‌های خود
                  استفاده کنند.
                </p>
              </div>
            </div>
          </div>
        </section>

        <section id="services" class="section Instructor">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                نقشه راه <span class="text-primary">بوت‌کمپ</span>
              </h2>
              <strong class="fade-title-left">Roadmap</strong>
            </header>
            <div
              class="col-md-12 section-content masir"
              style="
                display: flex;
                justify-content: center;
                margin-top: 4em;
                direction: rtl;
              "
            >
              <div class="timeline">
                <div class="outer">
                  <div class="card">
                    <div class="info">
                      <h3 class="title">هفته اول: کارآفرینی</h3>
                      <p class="info">
                        ● رویداد صفر <br />
                        یخ‌شکنی و بازی مدیریتی <br />
                        آقای هاشمی (جهاد دانشگاهی)
                        <br />
                        ● کارگاه مبانی کارآفرينی <br />
                        اردلان علیشاهی (مدیرعامل کانی‌بوم)
                        <br />
                        ● فالوآپ <br />
                        آشنایی با تیم و ایده محوری
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="info">
                      <h3 class="title">هفته دوم: راه‌اندازي کسب‌وکار</h3>
                      <p class="info">
                        ● کارگاه اصول راه‌اندازی کسب‌وکار <br />
                        هانیه ملکی (مشاور حوزه کسب‌وکار)
                        <br />
                        ● هم‌نشینی <br />
                        تجربه زیسته شرکت موفق مرکز رشد فناوری نخبگان <br />
                        ابوالفضل حسنی (مدیرعامل ایده‌کاوان صنعت پردیس)
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="info">
                      <h3 class="title">هفته سوم: بوم مدل کسب‌وکار</h3>
                      <p class="info">
                        ● کارگاه تدوين بوم مدل کسب‌وکار <br />
                        مهرداد عبادی (مدیر توسعه کسب‌وکار کانی‌بوم)
                        <br />
                        ● منتورینگ <br />
                        مباحث فنی
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="info">
                      <h3 class="title">هفته چهارم: پیچ‌دک و ارائه موثر</h3>
                      <p class="info">
                        ● کارگاه تدوین پیچ‌دک و چگونگی ارائه موثر <br />
                        علی هزاوه (معاون فناوری پارک فناوری پردیس)
                        <br />
                        ● هم‌نشینی <br />
                        پخش فیلم کارآفرینی و تحلیل <br />
                        علی پنیریان (مدیرعامل مرکز نوآوری یاس)
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="info">
                      <h3 class="title">هفته پنجم: بازار و فروش</h3>
                      <p class="info">
                        ● کارگاه مدل ذهنی ارتقاء سودآوری و رشد فروش پایدار
                        <br />
                        احمدرضا جمال‌زاده (مدیرعامل شرکت دانیو)
                        <br />
                        ● منتورینگ <br />
                        برنامه بازار
                        <br />
                        ● تمرین و فالوآپ <br />تدوین بوم کسب و کار
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="info">
                      <h3 class="title">هفته ششم: محصول</h3>
                      <p class="info">
                        ● کارگاه آشنایی با مدیریت محصول <br />
                        جلیل علیزاده (مدیر محصول دیجی‌کالا)
                        <br />
                        ● هم‌نشینی <br />
                        تجربه زیسته به روش بوت‌‌استرپینگ<br />
                        صائم ستارزاده (مدیرعامل وایموند)
                        <br />
                        ● تمرین و فالوآپ <br />ارائه موثر در بازه زمانی ۷ دقیقه
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="info">
                      <h3 class="title">هفته هفتم: تیم‌آپ</h3>
                      <p class="info">
                        ● کارگاه تیم‌سازی و اصول کار تیمی <br />
                        حسن قلیچ‌خانی (بنیانگذار و مدیرعامل رایچت هم‌بنیانگذار
                        لندین)
                        <br />
                        ● هم‌نشینی <br />
                        تحلیل کتاب بازیکن تیمی ایدئال <br />
                        رضا رایان راد (مترجم کتاب)
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="info">
                      <h3 class="title">هفته هشتم: برنامه‌ریزی عملیاتی</h3>
                      <p class="info">
                        ● کارگاه برنامه‌ریزی عملیاتی <br />
                        مهدی گلستانی (مشاور و متخصص مدیریت پروژه)
                        <br />
                        ● منتورینگ <br />
                        برنامه‌ریزی و تدوین ساختار شکست فعالیت
                        <br />
                        ● تمرین و فالوآپ <br />ارائه موثر در بازه زمانی ۷ دقیقه
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="info">
                      <h3 class="title">هفته نهم: طرح توجیهی و جذب سرمایه</h3>
                      <p class="info">
                        ● تدوین طرح توجیهی و جذب سرمایه <br />
                        کمال عظیمی (مدیر سرمایه‌گذاری شرکت معنا)
                        <br />
                        ● هم‌نشینی <br />
                        تجربه جذب سرمایه از اکوسیستم نوآوری <br />
                        محسن حاجی‌زاده (مدیرعامل ویترین نت)
                        <br />
                        ● منتورینگ <br />امکان‌سنجی اقتصادی
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="info">
                      <h3 class="title">هفته دهم: آمادگی برای سلکشن‌دی</h3>
                      <p class="info">
                        ● منتورینگ <br />
                        نحوه ارائه موثر
                        <br />
                        ● تمرین و فالوآپ <br />ارائه موثر در بازه زمانی ۷ دقیقه
                        (تمرین مجدد)
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="services" class="section Instructor">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                منتورهای کمپ استارتاپی <span class="text-primary">مسیر</span>
              </h2>
              <strong class="fade-title-left">Mentors</strong>
            </header>

            <div class="col-base col-sm-12 col-md-12">
              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/40.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >علی هزاوه</span
                    >معاون فناوری پارک فناوری پردیس
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/41.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >مهدی گلستانی</span
                    >مشاور و متخصص مدیریت پروژه
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/42.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >احمدرضا جمال‌زاده</span
                    >مدیرعامل شرکت دانیو
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/43.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >جلیل علیزاده</span
                    >مدیر محصول دیجی‌کالا
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/44.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >حسن قلیچ‌خانی</span
                    >بنیانگذار و مدیرعامل رایچت و هم‌بنیانگذار لندین
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/45.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >هانیه ملکی</span
                    >مشاور حوزه کسب‌وکار
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/aboutus/alishahi.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >اردلان علیشاهی</span
                    >مدیرعامل کانی‌بوم
                  </h4>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/aboutus/ebadi.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >مهرداد عبادی</span
                    >مدیر توسعه کسب‌وکار کانی‌بوم <br />Cafe Bazaar
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/46.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >کمال عظیمی</span
                    >مدیر سرمایه‌گذاری شرکت معنا
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="about" class="section">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                مخاطبان <span class="text-primary">بوت‌کمپ</span>
              </h2>
              <strong class="fade-title-left">Clients</strong>
            </header>
            <div class="col-base col-sm-12 col-md-12">
              <div class="col-sm-12 col-md-12">
                <div class="bootcamp-item text-center">
                  <h4 class="text-center" style="direction: rtl">
                    شرکت‌های دانش‌بنیان، استارت‌آپ‌ها و تیم‌های فناور و
                    علاقه‌مندان به راه‌اندازی کسب‌وکار
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="about" class="section">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                بهای <span class="text-primary">بوت‌کمپ</span>
              </h2>
              <strong class="fade-title-left">Cost</strong>
            </header>
            <div class="col-base col-sm-12 col-md-12">
              <div class="col-sm-12 col-md-12">
                <div class="bootcamp-item text-center">
                  <h4
                    class="text-center"
                    style="direction: rtl; margin-bottom: 30px"
                  >
                    هزینه محاسبه شده برای هر فرد ۱۲۰ میلیون ریال است که به منظور
                    جذب به شرح زیر تخفیفات به تفکیک حضوری و مجازی در نظر گرفته
                    شده‌است.
                  </h4>
                  <h3 class="text-center" style="direction: rtl">حضوری:</h3>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <h3 class="text-center" style="direction: rtl">
                    ویژه
                    <span class="text-primary" style="display: inline-block"
                      >دانشجویان و صاحبان ایده</span
                    >
                  </h3>
                  <h4
                    class="text-center"
                    style="direction: rtl; margin-bottom: 20px"
                  >
                    (با حمایت پارک فناوری پردیس و کانی‌بوم، دانشجویان می‌توانند
                    با ۹۰درصد تخفیف در این کمپ شرکت کنند)
                  </h4>
                  <p class="btn hiring text-center" style="direction: rtl">
                    ۱۲ میلیون ریال
                  </p>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <h3 class="text-center" style="direction: rtl">
                    تیم‌های
                    <span class="text-primary" style="display: inline-block"
                      >استارتاپی</span
                    >
                  </h3>
                  <h4
                    class="text-center"
                    style="direction: rtl; margin-bottom: 20px"
                  >
                    (۸۰ درصد)
                  </h4>
                  <br />
                  <p class="btn hiring text-center" style="direction: rtl">
                    ۲۴ میلیون ریال
                  </p>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <h3 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: inline-block"
                      >سایر افراد</span
                    >
                  </h3>
                  <h4
                    class="text-center"
                    style="direction: rtl; margin-bottom: 20px"
                  >
                    (۶۰ درصد تخفیف ثبت‌نام زودهنگام تا تاریخ ۲۰ خرداد و ۴۰ درصد
                    تخفیف تا تاریخ ۳۰ خرداد)
                  </h4>
                  <p class="btn hiring text-center" style="direction: rtl">
                    ۴۸-۷۲ میلیون ریال
                  </p>
                </div>
              </div>

              <div class="col-sm-12 col-md-12" style="margin-top: 30px">
                <div class="bootcamp-item text-center">
                  <h3 class="text-center" style="direction: rtl">آنلاین:</h3>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <h3 class="text-center" style="direction: rtl">
                    ویژه
                    <span class="text-primary" style="display: inline-block"
                      >دانشجویان و صاحبان ایده</span
                    >
                  </h3>
                  <p class="btn hiring text-center" style="direction: rtl">
                    ۵ میلیون ریال
                  </p>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <h3 class="text-center" style="direction: rtl">
                    تیم‌های
                    <span class="text-primary" style="display: inline-block"
                      >استارتاپی</span
                    >
                  </h3>
                  <p class="btn hiring text-center" style="direction: rtl">
                    ۱۲ میلیون ریال
                  </p>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <h3 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: inline-block"
                      >سایر افراد</span
                    >
                  </h3>
                  <p class="btn hiring text-center" style="direction: rtl">
                    ۲۴-۳۶ میلیون ریال
                  </p>
                </div>
              </div>

              <div class="col-sm-12 col-md-12 col-base">
                <div class="bootcamp-item text-center">
                  <p
                    class="text-center"
                    style="direction: rtl; margin-bottom: 20px"
                  >
                    امکان پرداخت به صورت اقساط وجود دارد
                  </p>
                  <p
                    class="text-center"
                    style="direction: rtl; margin-bottom: 20px"
                  >
                    برای ثبت‌نام فرم زیر را تکمیل کنید و برای کسب اطلاعات بیشتر
                    با شماره <a href="tel:09058973905">۰۹۰۵۸۹۷۳۹۰۵</a> تماس
                    بگیرید
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="objects" class="objects section">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                ثبت‌نام در<span class="text-primary"> بوم‌کمپ</span>
              </h2>
              <strong class="fade-title-left hidden-xs">Register</strong>
            </header>
            <!--START -->
            <form class="masir-form" dir="rtl" style="margin-top: 3em">
              <div class="row-field row">
                <div class="col-field col-sm-12 col-md-4">
                  <div class="form-group plan-form-field">
                    <label class="req" for="email">ایمیل</label>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      required
                    />
                  </div>
                </div>
                <div class="col-field col-sm-12 col-md-4">
                  <div class="form-group plan-form-field">
                    <label class="req" for="phone">موبایل</label>
                    <input
                      type="text"
                      class="form-control"
                      name="phone"
                      id="phone"
                      pattern="09\d{9}"
                      required
                    />
                  </div>
                </div>
                <div class="col-field col-sm-12 col-md-4">
                  <div class="form-group plan-form-field">
                    <label class="req" for="name">نام و نام خانوادگی</label>
                    <input
                      type="text"
                      class="form-control"
                      name="name"
                      id="name"
                      pattern="[\u0600-\u06FF\s]+"
                      required
                    />
                  </div>
                </div>
                <div
                  class="col-field col-sm-12"
                  style="float: right; margin-top: 30px"
                >
                  <div
                    class="col-field col-sm-12 col-md-4"
                    style="float: right"
                  >
                    <div class="form-group plan-form-field">
                      <label class="req" for="how">نوع شرکت در کمپ</label>
                      <select class="form-control" name="how" id="how" required>
                        <option hidden value="">انتخاب کنید</option>
                        <option value="حضوری">حضوری</option>
                        <option value="غیر حضوری">غیر حضوری</option>
                      </select>
                    </div>
                  </div>
                  <div
                    class="col-field col-sm-12 col-md-4"
                    style="float: right"
                  >
                    <div class="form-group plan-form-field">
                      <label class="req" for="applicant">متقاضی</label>
                      <select
                        name="applicant"
                        id="applicant"
                        class="form-control"
                        required
                      >
                        <option hidden value="">انتخاب کنید</option>
                        <option value="دانشجو/صاحب ایده">
                          دانشجو/صاحب ایده
                        </option>
                        <option value="شرکت/استارتاپ">شرکت/استارتاپ</option>
                      </select>
                    </div>
                    <div id="student-field" style="display: none">
                      <div class="form-group plan-form-field">
                        <label class="req" for="student_card"
                          >تصویر کارت دانشجویی</label
                        >
                        <input
                          type="file"
                          id="student_card"
                          name="student_card"
                          class="form-control student-input"
                        />
                      </div>
                    </div>
                    <div id="company-field" style="display: none">
                      <div class="form-group plan-form-field">
                        <label class="req" for="members">تعداد اعضای تیم</label>
                        <input
                          type="number"
                          id="members"
                          name="members"
                          class="form-control company-input"
                        />
                      </div>

                      <div class="form-group plan-form-field">
                        <label class="req" for="introduction"
                          >فایل معرفی شرکت/استارتاپ</label
                        >
                        <input
                          type="file"
                          id="introduction"
                          name="introduction"
                          class="form-control company-input"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-field col-sm-12" style="float: right">
                  <div class="form-group plan-form-field">
                    <div class="fulfilled"></div>
                    <div class="rejected"></div>
                  </div>
                </div>
              </div>
              <div class="form-submit text-right">
                <button type="submit" class="btn btn-shadow-2 wow swing">
                  ارسال
                </button>
              </div>
            </form>
            <!--END-->
          </div>
        </section>

        <section id="clients" class="organizers section">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                برگزار کنندگان و حامیان
                <span class="text-primary">بوت‌کمپ</span>
              </h2>
              <strong class="fade-title-left">Organizers</strong>
            </header>
            <div class="section-content text-center">
              <ul class="clients-list">
                <li class="client">
                  <a target="_blank" href="https://techelite.ir"
                    ><img
                      alt="مرکز رشد فناوری نخبگان"
                      src="../img/logo/logo-01.png"
                      style="width: 120px"
                  /></a>
                </li>
                <li class="client">
                  <a target="_blank" href="https://kaniboom.ir/"
                    ><img
                      alt="سازندگاه کسب‌وکارهای نوآورانه کانی‌بوم"
                      src="../img/logo/logo-03.png"
                      style="width: 120px"
                  /></a>
                </li>
                <li class="client">
                  <a target="_blank" href="#"
                    ><img
                      alt="فضای کار اشتراکی کوآپ"
                      src="../img/logo/logo-04.png"
                      style="width: 120px"
                  /></a>
                </li>
              </ul>
            </div>
          </div>
        </section>

        <section id="objects" class="section location">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                مکان برگزاری <span class="text-primary">بوت‌کمپ</span>
              </h2>
              <strong class="fade-title-left">Location</strong>
            </header>
            <div class="section-content">
              <div class="objects">
                <img alt="" class="img-responsive" src="../img/map.png" />

                <!-- Objects -->

                <div class="object-label" style="left: 45%; top: 28%">
                  <div class="object-info in">
                    <h3 class="object-title text-center">مکان برگزاری</h3>
                    <p
                      class="object-content text-center"
                      style="direction: rtl"
                    >
                      <i class="fa fa-map-marker text-primary"></i>
                      تهران، پردیس، پارک فناوری پردیس، فضای کار اشتراکی کوآپ
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Contacts -->


        <footer id="footer" class="footer">
          <div class="container">
            <div class="row-base row">
              <div class="col-base text-left-md col-md-4">
                <a href="#" class="brand">
                  <img src="../img/logo/logo_kaniboom.png" />
                </a>
              </div>
              <div class="text-center-md col-base col-md-4">
                <a href="tel:09387536548" class="author-link">
                  طراحی وب سایت توسط کانی‌بوم
                </a>
              </div>
              <div
                class="text-right-md col-base col-md-4"
                style="direction: rtl"
              >
                © کلیه حقوق وب سایت متعلق به سازندگاه کسب‌وکارهای نوآورانه
                کانی‌بوم می باشد.
              </div>
            </div>
          </div>
        </footer>

        <div class="page-lines">
          <div class="container">
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SCRIPTS -->

    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/smoothscroll.js"></script>
    <script src="../js/jquery.validate.min.js"></script>
    <script src="../js/wow.min.js"></script>
    <script src="../js/jquery.stellar.min.js"></script>
    <script src="../js/jquery.magnific-popup.js"></script>
    <script src="../js/owl.carousel.min.js"></script>

    <!-- SLIDER REVOLUTION -->
    <script src="../js/rev-slider/jquery.themepunch.tools.min.js"></script>
    <script src="../js/rev-slider/jquery.themepunch.revolution.min.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS   -->
    <script src="../js/rev-slider/revolution.extension.actions.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.carousel.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.kenburn.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.layeranimation.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.migration.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.navigation.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.parallax.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.slideanims.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.video.min.js"></script>
    <script src="../js/interface.js"></script>
    <script>
      const form = document.querySelector(".masir-form");
      const howSelect = document.querySelector("#how");
      const applicantSelect = document.querySelector("#applicant");
      const studentField = document.querySelector("#student-field");
      const companyField = document.querySelector("#company-field");
      const studentInput = document.querySelector(".student-input");
      const companyInput = document.querySelectorAll(".company-input");

      applicantSelect.oninput = (e) => {
        if (e.target.value === "دانشجو/صاحب ایده") {
          studentField.style.display = "block";
          companyField.style.display = "none";
          studentInput.setAttribute("required", "");
          companyInput.forEach((i) => {
            i.removeAttribute("required");
          });
        } else if (e.target.value === "شرکت/استارتاپ") {
          studentField.style.display = "none";
          companyField.style.display = "block";
          studentInput.removeAttribute("required");
          companyInput.forEach((i) => {
            i.setAttribute("required", "");
          });
        } else {
          studentField.style.display = "none";
          companyField.style.display = "none";
          studentInput.removeAttribute("required");
          companyInput.forEach((i) => {
            i.removeAttribute("required");
          });
        }
      };

      form.onsubmit = (e) => {
        e.preventDefault();
        //submitForm function in interface.js
        submitForm(form, "masir");
      };
    </script>
  </body>
</html>
