<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      سازندگاه کسب و کارهای نوآورانه کانی بوم | بوت‌کمپ مدیریت محصول
    </title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="../img/logo/logo_kaniboom_ficon.jpg" />
    <link rel="apple-touch-icon" href="../img/logo/logo_kaniboom_ficon.jpg" />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="../img/logo/logo_kaniboom_ficon.jpg"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="../img/logo/logo_kaniboom_ficon.jpg"
    />

    <!-- Styles -->
    <link href="../css/style.css" rel="stylesheet" media="screen" />
  </head>
  <body>
    <!-- Loader -->
    <div class="loader">
      <div class="page-lines">
        <div class="container">
          <div class="col-line col-xs-4">
            <div class="line"></div>
          </div>
          <div class="col-line col-xs-4">
            <div class="line"></div>
          </div>
          <div class="col-line col-xs-4">
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
      </div>
      <div class="loader-brand">
        <div class="sk-folding-cube">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
        </div>
      </div>
    </div>

    <!-- Header -->
    <header id="top" class="header-inner">
      <div class="brand-panel" style="background: none">
        <a href="#top" class="brand js-target-scroll hidden-xs hidden-sm">
          <img src="../img/logo/logo_kaniboom.png" />
        </a>
        <a href="#top" class="brand js-target-scroll hidden-md hidden-lg">
          <img src="../img/logo/logo_kaniboom.png" />
        </a>
      </div>

      <nav class="navbar-desctop visible-md visible-lg">
        <div class="container">
          <a href="#top" class="brand js-target-scroll">
            <img src="../img/logo/logo_kaniboom.png" />
          </a>
          <ul class="nav navbar-desctop-menu">
            <li>
              <a href="/">صفحه اصلی</a>
            </li>
            <li>
              <a href="about">درباره ما</a>
            </li>
            <li>
              <a href="/events">رویدادها</a>
            </li>
            <li class="active">
              <a href="#">کانی بوم آکادمی</a>
              <ul>
                <li>
                  <a href="kanicamp">کانی‌کمپ</a>
                </li>
                <li>
                  <a href="boomcamp">بوم‌کمپ</a>
                </li>
                <!-- <li>
                  <a href="/">کانی کورس</a>
                </li>
                <li>
                  <a href="kaniamoz">کانی آموز</a>
                </li> -->
              </ul>
            </li>
            <li>
              <a href="/news">اخبار</a>
            </li>
            <li>
              <a href="register">ارسال طرح و ایده</a>
            </li>
            <!-- <li>
              <a href="/">تماس با ما</a>
            </li> -->
          </ul>
        </div>
      </nav>

      <!-- Navigation Mobile -->

      <nav class="nav navbar-mobile">
        <a href="#top" class="brand js-target-scroll">
          <img src="../img/logo/logo_kaniboom.png" />
        </a>

        <!-- Navbar Collapse -->

        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#navbar-mobile"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-mobile">
          <ul class="navbar-nav-mobile">
            <li>
              <a href="/">صفحه اصلی</a>
            </li>
            <li>
              <a href="about">درباره ما</a>
            </li>
            <li>
              <a href="/events">رویدادها</a>
            </li>
            <li class="active">
              <a href="#">کانی بوم آکادمی</a>
              <ul>
                <li>
                  <a href="kanicamp">کانی‌کمپ</a>
                </li>
                <li>
                  <a href="boomcamp">بوم‌کمپ</a>
                </li>
                <!-- <li>
                  <a href="/">کانی کورس</a>
                </li>
                <li>
                  <a href="kaniamoz">کانی آموز</a>
                </li> -->
              </ul>
            </li>
            <li>
              <a href="/news">اخبار</a>
            </li>
            <li>
              <a href="register">ارسال طرح و ایده</a>
            </li>
            <!-- <li>
              <a href="/">تماس با ما</a>
            </li> -->
          </ul>
        </div>
      </nav>
    </header>

    <!-- Layout -->

    <div class="layout">
      <main
        class="main main-inner bg-innovations"
        data-stellar-background-ratio="0.6"
        style="
          background-position: 50% 0px;
          background: url(img/bg/bootcamp-product.jpg) 50% 0 no-repeat;
          background-size: cover;
        "
      >
        <div class="container">
          <header class="main-header text-center">
            <img
              src="../img/logo/logo_boomcamp.png"
              style="width: 150px; margin-bottom: 30px"
            />
            <h1>
              <span
                class="text-primary"
                style="display: inline-block; padding-bottom: 10px"
                >مدیریت محصول</span
              >
              بوت‌کمپ
            </h1>
            <h3
              class="col-about-title text-center"
              style="direction: rtl; margin-top: 15px"
            >
              <span
                class="text-primary"
                style="display: block; padding-bottom: 10px"
                ><i class="fa fa-calendar text-primary"></i> تیر تا شهریور ۱۴۰۲
              </span>
            </h3>
          </header>
        </div>

        <div class="page-lines">
          <div class="container">
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </main>
      <div class="content">
        <section id="about" class="about">
          <div class="container">
            <div class="entry">
              <div class="col-md-6">
                <img
                  src="../img/kaniboom-academic/about-product.png"
                  class="img-responsive"
                  style="margin-bottom: 10px"
                />
              </div>
              <div class="col-md-6">
                <p class="entry-text text-justify">
                  مدیریت محصول (Product Management) فرآیندی است که در آن فرد یا
                  گروهی مسئولیت برنامه‌ریزی، طراحی، توسعه و مدیریت یک محصول را
                  بر عهده دارد. هدف اصلی مدیریت محصول، ایجاد محصولاتی است که
                  مشتریان را راضی کنند و به سودآوری شرکت کمک کنند. فرآیند مدیریت
                  محصول شامل مراحل مختلفی است که شامل تحلیل نیازهای بازار و
                  مشتریان، تعیین استراتژی، برنامه‌ریزی، طراحی و توسعه محصول،
                  بازاریابی و فروش محصول و بهبود مداوم محصول است.
                  <br />
                  به طور کلی، مدیریت محصول شامل سه مرحله اصلی است:
                  <br />
                  ۱. تحلیل و تعیین نیازهای بازار: در این مرحله، مدیر محصول برای
                  تحلیل نیازهای بازار و مشتریان، به جمع‌آوری و تحلیل داده‌های
                  بازار، از جمله بازخورد مشتریان، رصد رقبا و تحلیل ترندها،
                  پرداخته و با توجه به این اطلاعات، به تعیین وضعیت بازار و
                  نیازهای مشتریان می‌پردازد.
                  <br />
                  ۲. طراحی، توسعه و بازاریابی محصول: برای طراحی و توسعه محصول،
                  مدیر محصول باید با تیم فنی، طراحی و بازاریابی همکاری کند. در
                  این مرحله، برای طراحی و توسعه محصول، باید به عواملی مانند
                  کارآیی، طراحی، قابلیت استفاده، امنیت و بررسی هزینه‌های تولید
                  توجه کرد. همچنین برای بازاریابی محصول، باید استراتژی‌هایی
                  مانند قیمت‌گذاری، تبلیغات، فروش و توزیع محصول را تعیین کرد.
                  <br />
                  ۳. بهبود مداوم محصول: برای بهبود مداوم محصول، مدیر محصول باید
                  با توجه به بازخورد مشتریان، نقاط قابل‌بهبود در محصول را بررسی
                  کرده و اقدامات لازم را برای بهبود و توسعه آن انجام دهد. همچنین
                  لازم است تا با انجام تحقیقات بازار و توسعه فناوری، محصول را
                  به‌روزرسانی کرد و بهبود داد.
                  <br />
                  در کل، مدیریت محصول به عنوان یک فرایند کلی، نیاز به همکاری با
                  تیم‌های مختلف دارد. مدیر محصول باید با توجه به محدودیت‌ در
                  منابع مختلف، برنامه‌ریزی کرده و به همراه تیم، محصولی را طراحی
                  کند و توسعه دهد که نیازهای مشتریان را برآورده سازد و در نهایت
                  به سودآوری شرکت کمک کند.
                </p>
              </div>
              <div
                class="col-md-12 section-content"
                style="text-align: center; margin-top: 4em; direction: rtl"
              >
                <p class="btn btn-shadow-2">
                  ۸۰ ساعت آموزش حضوری (نظری و کارگاهی) + ۲۰ ساعت جلسات سخنرانی
                  انتقال تجربه و دانش
                </p>
                <h4
                  class="col-about-title text-center"
                  style="direction: rtl; margin-top: 15px"
                >
                  <span
                    class="text-primary"
                    style="display: block; padding-bottom: 10px"
                    >ظرفیت محدود</span
                  >
                </h4>
              </div>
            </div>
          </div>
        </section>

        <section id="services" class="section Instructor">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                نقشه راه <span class="text-primary">بوت‌کمپ</span>
              </h2>
              <strong class="fade-title-left">Roadmap</strong>
            </header>
            <div
              class="col-md-12 section-content"
              style="
                display: flex;
                justify-content: center;
                margin-top: 4em;
                direction: ltr;
              "
            >
              <div class="timeline">
                <div class="outer">
                  <div class="card">
                    <div class="info">
                      <h3 class="title">
                        Week 1: Introduction to Product Management
                      </h3>
                      <p class="info">
                        ● Introduction to product management (2 sessions)
                        <br />
                        ● Role of a product manager (2 sessions)
                        <br />
                        ● Product life cycle (1 session)
                        <br />
                        ● Defining customer needs (1 session)
                        <br />
                        ● Understanding user personas (1 session)
                        <br />
                        ● Creating a product vision (1 session)
                        <br />
                        ● Importance of effective decision-making (1 session)
                        <br />
                        ● Examples of successful and unsuccessful
                        decision-making (1 session)
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="info">
                      <h3 class="title">Week 2: Research and Analysis</h3>
                      <p class="info">
                        ● Conducting market research (3 sessions)
                        <br />
                        ● Analyzing market trends (1 session)
                        <br />
                        ● Conducting user research (3 sessions)
                        <br />
                        ● Identifying user pain points (1 session)
                        <br />
                        ● Competitive analysis (1 session)
                        <br />
                        ● SWOT analysis (1 session)
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="info">
                      <h3 class="title">Week 3: Strategy and Roadmap</h3>
                      <p class="info">
                        ● Developing product strategy (2 sessions)
                        <br />
                        ● Creating a product roadmap (2 sessions)
                        <br />
                        ● Prioritizing features methodologies (1 session)
                        <br />
                        ● User story writting and challanges (1 session)
                        <br />
                        ● Agile methodologies (1 session)
                        <br />
                        ● Kanban and Scrum frameworks (1 sessions)
                        <br />
                        ● Sprint planning (1 session)
                        <br />
                        ● Preparing PRD for different stakeholder (2 sessions)
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="info">
                      <h3 class="title">Week 4: Design and Prototyping</h3>
                      <p class="info">
                        ● UX design and principles (3 sessions)
                        <br />
                        ● Design thinking (2 sessions)
                        <br />
                        ● Design methods and tools (3 sessions)
                        <br />
                        ● Design assessment (2 sessions)
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="info">
                      <h3 class="title">Week 5: Development and Launch</h3>
                      <p class="info">
                        ● Software development Methodologies (1 session)
                        <br />
                        ● Product Maturity Management (1 session)
                        <br />
                        ● Requirement Engineering (1 session)
                        <br />
                        ● Software Architecture (1 session)
                        <br />
                        ● Software Product Line (1 session)
                        <br />
                        ● Twelve-Factor methodology (1 session)
                        <br />
                        ● Behavior-driven development (1 session)
                        <br />
                        ● Gherkin user story and behave (2 session)
                        <br />
                        ● Pseudocoding (1 session)
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="info">
                      <h3 class="title">Week 6: Advanced Product Management</h3>
                      <p class="info">
                        ● Introduction to data-driven decision-making (1
                        session)
                        <br />
                        ● RFM analysis and User Segmentation (1 session)
                        <br />
                        ● What is Cohort Analysis? (1 session)
                        <br />
                        ● Statistical methods for hypothesis testing (1 session)
                        <br />
                        ● Machine learning and predictive analytics (1 session)
                        <br />
                        ● Key metrics and KPIs in product management (1 session)
                        <br />
                        ● Using data to drive product strategy (1 session)
                        <br />
                        ● Product marketing (2 sessions)
                        <br />
                        ● Monetization strategies (1 session)
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="info">
                      <h3 class="title">
                        Week 7: Leadership and Communication
                      </h3>
                      <p class="info">
                        ● Leadership skills for product managers (2 sessions)
                        <br />
                        ● Effective communication in product management (2
                        sessions)
                        <br />
                        ● Influencing and persuasion (1 sessions)
                        <br />
                        ● Cross-functional collaboration (1 sessions)
                        <br />
                        ● Stakeholder management (1 session)
                        <br />
                        ● Presentation skills (1 session)
                        <br />
                        ● Conflict resolution (1 session)
                        <br />
                        ● Negotiation skills (1 session)
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="info">
                      <h3 class="title">Week 8: Career Development</h3>
                      <p class="info">
                        ● Switching your career to PM (1 session)
                        <br />
                        ● How to make your work meaningful? (1 session)
                        <br />
                        ● AI Product Management (1 session)
                        <br />
                        ● How to be a Sr.PM (1 session)
                        <br />
                        ● PM growth ladder (1 session)
                        <br />
                        ● Design a proactive onboarding as a PM (1 sessions)
                        <br />
                        ● Be a product auditor (1 sessions)
                        <br />
                        ● Building a professional network (1 session)
                        <br />
                        ● Interview skills and techniques (1 session)
                        <br />
                        ● Resume and cover letter writing (1 session)
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="info">
                      <h3 class="title">+ Out of the box Lectures</h3>
                      <p class="info">
                        1. Startup lifestyle - R.Jabbari
                        <br />
                        2. Story telling with data - A.Rahimi
                        <br />
                        3. Idea Validation - P.Kazemi & A.Nabipour
                        <br />
                        4. Story of Ganje - P.Kazemi & A.Nabipour
                        <br />
                        5. Active Listening - A.Ebrahimi
                        <br />
                        6. Renewable energy and sustainability - H.khajepour
                        <br />
                        7. Growth Thinking - MS.Davodvandi
                        <br />
                        8. Enterprise resource planning - AM.Shoghi
                        <br />
                        9. OKR - B.Nazari
                        <br />
                        10. Martech and Ad-tech - M.Pakzad
                        <br />
                        11. Macro-finance - M.Karami
                        <br />
                        12. Importance of HR - M.Shahrmiani
                        <br />
                        13. Blockchain and Decentralized finance -
                        Dr.A.Zarbakhsh
                        <br />
                        14. Conflict Management and Challenges - Sharareh
                        Ezzatnezhad
                        <br />
                        15. How to make developers mad? - Dr. Alireza Mazloumi
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="services" class="section Instructor">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                منتورهای <span class="text-primary">بوت‌کمپ</span>
              </h2>
              <strong class="fade-title-left">Mentors</strong>
            </header>

            <div class="col-base col-sm-12 col-md-12">
              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/01.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Jalil Alizadeh</span
                    >Product Manager <br />Digikala
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/02.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Mohamad Bigdeli</span
                    >Product Chapter Lead <br />Asan Pardakht
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/03.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Fatemeh Elahi</span
                    >Product Manager <br />Alibaba
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/04.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Ali Mansour</span
                    >Senior Product Manager <br />Digikala
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/05.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Milad Ranjbar</span
                    >Co-founder and VP of Product <br />Digify
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/06.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Yasaman Hosseini</span
                    >Senior UX Researcher <br />Digify
                  </h4>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/07.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Moein Kafi</span
                    >Senior Product Manager <br />Cafe Bazaar
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/08.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Parsia Tabatabaie</span
                    >Lead Product Manager <br />Snappfood!
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/09.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Parnia Kamelian</span
                    >Product Manager <br />blu Bank
                  </h4>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/10.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Hamidreza Khodaei</span
                    >Product Manager <br />Payping
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/11.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Mohammad Maher</span
                    >Head of Design <br />Digikala
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/12.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Valeh Sajedi</span
                    >Senior UX Researcher <br />Digikala
                  </h4>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/13.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Araz Saie</span
                    >Chief Information Officer <br />Digipay
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/14.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Nader Heydari</span
                    >Chief Product Officer <br />Smartech
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/15.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Pouran Zamani</span
                    >Senior Product Manager <br />Digikala
                  </h4>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/16.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Mahyar Aboutorabi</span
                    >VP of Marketing <br />Digify
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/17.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Mohamad Takalloo</span
                    >Director of Product Management <br />Cafe Bazaar
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/18.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Mohammad Farokhnezhad</span
                    >Co-Founder & CEO <br />Digify
                  </h4>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/19.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Mohammad Reza Karami</span
                    >Pricing Product Manager <br />Snapp!
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/20.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Bahare Nazari</span
                    >Senior Product Manager <br />SnappPay!
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/21.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Ahmad Ebrahimi</span
                    >VP of Product <br />Alibaba International
                  </h4>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/22.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Fatima Farajzadeh</span
                    >Product Manager <br />Snapp!
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/23.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Mohammad Sadegh Davodvandi</span
                    >Product Manager <br />Shab
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/24.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Milad Mirzaei</span
                    >Senior Product Manager <br />Vandar
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="services" class="section Instructor">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                سخنرانان <span class="text-primary">بوت‌کمپ</span>
              </h2>
              <strong class="fade-title-left">Lecturers</strong>
            </header>

            <div class="col-base col-sm-12 col-md-12">
              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/25.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Dr. Hossein Khajehpour</span
                    >Assistant Professor <br />Sharif University of Technology
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/26.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Mazdak Pakzad</span
                    >CEO <br />Smartech
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/27.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Dr. Amin Zarbakhsh</span
                    >Co-Founder & CEO <br />CoinPlus & Sarrafeh
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/28.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Dr. Alireza Mazloumi</span
                    >Co-Founder & CTO <br />Smartech
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/29.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Rasoul Jabari</span
                    >Ex-Director of Product Management <br />Divar
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/30.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Mohammad Shahrmiany</span
                    >CEO <br />Rahnema College
                  </h4>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/31.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Parham Kazemi</span
                    >Co-Founder <br />Ganje
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/32.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Ahmed Nabipour</span
                    >Co-Founder <br />Ganje
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/21.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Ahmad Ebrahimi</span
                    >VP of Product <br />Alibaba International
                  </h4>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/23.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Mohammad Sadegh Davodvandi</span
                    >Product Manager <br />Shab
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/33.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Amirmasoud Shoghi</span
                    >Product Manager <br />Digikala
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/20.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Bahare Nazari</span
                    >Senior Product Manager <br />SnappPay!
                  </h4>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/19.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Mohammad Reza Karami</span
                    >Pricing Product Manager <br />Snapp!
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/34.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Alireza Rahimi</span
                    >Content Supervisor <br />Divar
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/35.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Sharare Ezzatnejad</span
                    >Founder & CEO <br />Productroad
                  </h4>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/36.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Hassan Ghelichkhani</span
                    >Employer Branding Expert <br />Digikala
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="services" class="section Instructor">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                منتورهای <span class="text-primary">بوت‌کمپ</span>
              </h2>
              <strong class="fade-title-left">Scientific Affairs</strong>
            </header>

            <div class="col-base col-sm-12 col-md-12">
              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/37.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Jalil Alizadeh</span
                    >Scientific Affairs Manager <br />Boomcamp
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/38.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Pegah Bodaghi</span
                    >Data Analyst <br />Asan Pardakht
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/09.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Parnia Kamelian</span
                    >Product Manager <br />blu Bank
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher/39.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >Aisan Mojahedi</span
                    >Project Management Specialist <br />Digikala
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="about" class="section">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                مخاطبان <span class="text-primary">بوت‌کمپ</span>
              </h2>
              <strong class="fade-title-left">Clients</strong>
            </header>
            <div class="col-base col-sm-12 col-md-12">
              <div class="col-sm-12 col-md-12">
                <div class="bootcamp-item text-center">
                  <h4 class="text-center" style="direction: rtl">
                    همه علاقه‌مندان به مدیریت محصول؛ از نوآموزان تا متخصصان
                    Mid-level می‌توانند از این بوم‌کمپ استفاده کنند.
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="about" class="section">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                بهای <span class="text-primary">بوت‌کمپ</span>
              </h2>
              <strong class="fade-title-left">Cost</strong>
            </header>
            <div class="col-base col-sm-12 col-md-12">
              <div class="col-sm-12 col-md-12">
                <div class="bootcamp-item text-center">
                  <h3
                    class="text-center"
                    style="direction: rtl; margin-bottom: 20px"
                  >
                    قیمت پایه: ۱۳.۹ میلیون تومان
                  </h3>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <h3 class="text-center" style="direction: rtl">
                    تخفیف
                    <span class="text-primary" style="display: inline-block"
                      >توصیه‌نامه مدرسان</span
                    >
                  </h3>
                  <h4
                    class="text-center"
                    style="direction: rtl; margin-bottom: 20px"
                  >
                    (۲۰ درصد)
                  </h4>
                  <p class="btn hiring text-center" style="direction: rtl">
                    ۱۱ میلیون تومان
                  </p>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <h3 class="text-center" style="direction: rtl">
                    تخفیف
                    <span class="text-primary" style="display: inline-block"
                      >سازمانی</span
                    >
                  </h3>
                  <h4
                    class="text-center"
                    style="direction: rtl; margin-bottom: 20px"
                  >
                    (۱۰ درصد)
                  </h4>
                  <p class="btn hiring text-center" style="direction: rtl">
                    ۱۲.۵ میلیون تومان
                  </p>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <h3 class="text-center" style="direction: rtl">
                    تخفیف
                    <span class="text-primary" style="display: inline-block"
                      >زودهنگام</span
                    >
                  </h3>
                  <h4
                    class="text-center"
                    style="direction: rtl; margin-bottom: 20px"
                  >
                    (۱۵ خرداد - پرداخت آنی)
                  </h4>
                  <p class="btn hiring text-center" style="direction: rtl">
                    ۱۰ میلیون تومان
                  </p>
                </div>
              </div>

              <div class="col-sm-12 col-md-12 col-base">
                <div class="bootcamp-item text-center">
                  <p
                    class="text-center"
                    style="direction: rtl; margin-bottom: 20px"
                  >
                    امکان پرداخت به صورت اقساط وجود دارد
                  </p>
                  <p
                    class="text-center"
                    style="direction: rtl; margin-bottom: 20px"
                  >
                    برای ثبت‌نام فرم زیر را تکمیل کنید و برای کسب اطلاعات بیشتر
                    با شماره <a href="tel:09058973905">۰۹۰۵۸۹۷۳۹۰۵</a> تماس
                    بگیرید
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="objects" class="objects section">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                ثبت‌نام در<span class="text-primary"> بوم‌کمپ</span>
              </h2>
              <strong class="fade-title-left hidden-xs">Register</strong>
            </header>
            <!--START -->
            <form class="product-form" dir="rtl" style="margin-top: 3em">
              <div class="row-field row">
                <div class="col-field col-sm-12 col-md-4">
                  <div class="form-group plan-form-field">
                    <label class="req" for="email">ایمیل</label>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      required
                    />
                  </div>
                  <div class="form-group plan-form-field">
                    <label class="req" for="email"
                      >نحوه آشنایی با بوت کمپ</label
                    >
                    <select
                      name="acquaintance"
                      id="acquaintance"
                      class="form-control"
                      required
                    >
                      <option hidden value="">انتخاب کنید</option>
                      <option value="معرفی دوستان">معرفی دوستان</option>
                      <option value="لینکدین">لینکدین</option>
                      <option value="اینستاگرام">اینستاگرام</option>
                      <option value="تلگرام">تلگرام</option>
                      <option value="جست و جو در وب">جست و جو در وب</option>
                      <option value="سایر">سایر</option>
                    </select>
                  </div>
                </div>
                <div class="col-field col-sm-12 col-md-4">
                  <div class="form-group plan-form-field">
                    <label class="req" for="phone">موبایل</label>
                    <input
                      type="text"
                      class="form-control"
                      name="phone"
                      id="phone"
                      pattern="09\d{9}"
                    />
                  </div>
                  <div class="form-group plan-form-field">
                    <label class="req" for="job_status">وضعیت شغلی</label>
                    <select
                      name="job_status"
                      id="job_status"
                      required
                      class="form-control"
                    >
                      <option hidden value="">انتخاب کنید</option>
                      <option value="شاغل">شاغل</option>
                      <option value="در جستوجوی کار">در جستوجوی کار</option>
                    </select>
                  </div>
                </div>
                <div class="col-field col-sm-12 col-md-4">
                  <div class="form-group plan-form-field">
                    <label class="req" for="name">نام و نام خانوادگی</label>
                    <input
                      type="text"
                      class="form-control"
                      name="name"
                      id="name"
                      pattern="[\u0600-\u06FF\s]+"
                      required
                    />
                  </div>
                  <div class="form-group plan-form-field">
                    <label class="req" for="education">تحصیلات</label>
                    <input
                      type="text"
                      class="form-control"
                      name="education"
                      id="education"
                      pattern="[\u0600-\u06FF\s]+"
                      required
                    />
                  </div>
                </div>
                <div
                  class="col-field col-sm-12"
                  style="float: right; margin-top: 30px"
                >
                  <div
                    class="col-field col-sm-12 col-md-4"
                    style="float: right"
                  >
                    <div style="padding-right: 15px">
                      <input
                        id="is_recomended"
                        name="is_recomended"
                        type="checkbox"
                      />
                      <label style="user-select: none" for="is_recomended"
                        >توصیه نامه دارم.</label
                      >
                    </div>
                    <div
                      class="form-group plan-form-field"
                      style="margin-top: 15px; display: none"
                      id="rec-field"
                    >
                      <label class="req" for="who"
                        >توصیه نامه از طرف چه کسی است؟</label
                      >
                      <input
                        type="text"
                        class="form-control rec-input"
                        name="who"
                        id="who"
                      />
                    </div>
                  </div>
                  <div
                    class="col-field col-sm-12 col-md-4"
                    style="float: right"
                  >
                    <div style="padding-right: 15px">
                      <input id="is_org" name="is_org" type="checkbox" />
                      <label for="is_org" style="user-select: none"
                        >ثبت نام به صورت سازمانی است.</label
                      >
                    </div>
                    <!-- <div class="col-field col-sm-12 col-md-4"> -->
                    <div id="org-field" style="display: none">
                      <div
                        class="form-group plan-form-field"
                        style="margin-top: 15px"
                      >
                        <label class="req" for="company">نام کامل شرکت</label>
                        <input
                          type="text"
                          class="form-control org-input"
                          name="company"
                          id="company"
                        />
                      </div>
                      <div class="form-group plan-form-field">
                        <label class="req" for="members"
                          >تعداد متقاضیان ثبت نام</label
                        >
                        <input
                          type="number"
                          class="form-control org-input"
                          name="members"
                          id="members"
                        />
                      </div>
                      <div class="form-group plan-form-field">
                        <label for="factor">درخواست پیش فاکتور</label>
                        <br />
                        <input
                          type="text"
                          class="form-control"
                          name="factor"
                          id="factor"
                        />
                        <span style="color: gray; font-size: 14px"
                          >در صورت نیاز به پیش‌فاکتور، لطفا شماره ثبت، شناسه
                          ملی، کد اقتصادی و کد پستی شرکت را واد کنید.</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-field col-sm-12" style="float: right">
                  <div class="form-group plan-form-field">
                    <div class="fulfilled"></div>
                    <div class="rejected"></div>
                  </div>
                </div>
              </div>
              <div class="form-submit text-right">
                <button type="submit" class="btn btn-shadow-2 wow swing">
                  ارسال
                </button>
              </div>
            </form>

            <!--END--->
          </div>
        </section>

        <section id="clients" class="organizers section">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                برگزار کنندگان و حامیان
                <span class="text-primary">بوت‌کمپ</span>
              </h2>
              <strong class="fade-title-left">Organizers</strong>
            </header>
            <div class="section-content text-center">
              <ul class="clients-list">
                <li class="client">
                  <a target="_blank" href="https://digify.shop/"
                    ><img
                      alt="دیجی‌فای"
                      src="../img/logo/logo-08.png"
                      style="width: 120px"
                  /></a>
                </li>
                <li class="client">
                  <a target="_blank" href="https://smartech.ir/"
                    ><img
                      alt="اسمارتک"
                      src="../img/logo/logo-09.png"
                      style="width: 120px"
                  /></a>
                </li>
                <li class="client">
                  <a target="_blank" href="https://coin-plus.org/"
                    ><img
                      alt="کوین پلاس"
                      src="../img/logo/logo-10.png"
                      style="width: 120px"
                  /></a>
                </li>
                <li class="client">
                  <a target="_blank" href="https://sarrafeh.com/"
                    ><img
                      alt="صرافه"
                      src="../img/logo/logo-11.png"
                      style="width: 120px"
                  /></a>
                </li>
                <li class="client">
                  <a target="_blank" href="https://kardix.com/"
                    ><img
                      alt="کاردیکس"
                      src="../img/logo/logo-12.png"
                      style="width: 120px"
                  /></a>
                </li>
                <li class="client">
                  <a target="_blank" href="https://araspharmaceutical.com/"
                    ><img
                      alt="ارس"
                      src="../img/logo/logo-13.png"
                      style="width: 120px"
                  /></a>
                </li>
              </ul>
            </div>
          </div>
        </section>

        <section id="objects" class="section location">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                مکان برگزاری <span class="text-primary">بوت‌کمپ</span>
              </h2>
              <strong class="fade-title-left">Location</strong>
            </header>
            <div class="section-content">
              <div class="objects">
                <img alt="" class="img-responsive" src="../img/map.png" />

                <!-- Objects -->

                <div class="object-label" style="left: 45%; top: 28%">
                  <div class="object-info in">
                    <h3 class="object-title text-center">مکان برگزاری</h3>
                    <p
                      class="object-content text-center"
                      style="direction: rtl"
                    >
                      تهران
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Contacts -->

        <footer id="footer" class="footer">
          <div class="container">
            <div class="row-base row">
              <div class="col-base text-left-md col-md-4">
                <a href="#" class="brand">
                  <img src="../img/logo/logo_kaniboom.png" />
                </a>
              </div>
              <div class="text-center-md col-base col-md-4">
                <a href="tel:09387536548" class="author-link">
                  طراحی وب سایت توسط کانی بوم
                </a>
              </div>
              <div
                class="text-right-md col-base col-md-4"
                style="direction: rtl"
              >
                © کلیه حقوق وب سایت متعلق به سازندگاه کسب‌وکارهای نوآورانه
                کانی بوم می باشد.
              </div>
            </div>
          </div>
        </footer>

        <div class="page-lines">
          <div class="container">
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SCRIPTS -->

    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/smoothscroll.js"></script>
    <script src="../js/jquery.validate.min.js"></script>
    <script src="../js/wow.min.js"></script>
    <script src="../js/jquery.stellar.min.js"></script>
    <script src="../js/jquery.magnific-popup.js"></script>
    <script src="../js/owl.carousel.min.js"></script>

    <!-- SLIDER REVOLUTION -->
    <script src="../js/rev-slider/jquery.themepunch.tools.min.js"></script>
    <script src="../js/rev-slider/jquery.themepunch.revolution.min.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS   -->
    <script src="../js/rev-slider/revolution.extension.actions.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.carousel.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.kenburn.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.layeranimation.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.migration.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.navigation.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.parallax.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.slideanims.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.video.min.js"></script>
    <script src="../js/interface.js"></script>
    <script>
      const form = document.querySelector(".product-form");
      const recCheck = document.querySelector("#is_recomended");
      const orgCheck = document.querySelector("#is_org");
      const recField = document.querySelector("#rec-field");
      const orgField = document.querySelector("#org-field");
      const recInputs = document.querySelector(".rec-input");
      const orgInputs = document.querySelectorAll(".org-input");
      recCheck.oninput = () => {
        if (recCheck.checked) {
          recField.style.display = "block";
          recInputs.setAttribute("required", "");
        } else {
          recField.style.display = "none";
          recInputs.removeAttribute("required");
        }
      };
      orgCheck.oninput = () => {
        if (orgCheck.checked) {
          orgField.style.display = "block";
          orgInputs.forEach((i) => {
            i.setAttribute("required", "");
          });
        } else {
          orgField.style.display = "none";
          orgInputs.forEach((i) => {
            i.removeAttribute("required");
          });
        }
      };
      form.onsubmit = (e) => {
        e.preventDefault();
        //submitForm function in interface.js
        submitForm(form, "product");
      };
    </script>
  </body>
</html>
