<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      سازندگاه کسب و کارهای نوآورانه کانی‌بوم | بوت‌کمپ مدیریت هوشمند کسب‌وکار
    </title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="../img/logo/logo_kaniboom_ficon.jpg" />
    <link rel="apple-touch-icon" href="../img/logo/logo_kaniboom_ficon.jpg" />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="../img/logo/logo_kaniboom_ficon.jpg"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="../img/logo/logo_kaniboom_ficon.jpg"
    />

    <!-- Styles -->
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:300,400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
    />
    <link href="../css/style.css" rel="stylesheet" media="screen" />
  </head>
  <body>
    <!-- Loader -->
    <div class="loader">
      <div class="page-lines">
        <div class="container">
          <div class="col-line col-xs-4">
            <div class="line"></div>
          </div>
          <div class="col-line col-xs-4">
            <div class="line"></div>
          </div>
          <div class="col-line col-xs-4">
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
      </div>
      <div class="loader-brand">
        <div class="sk-folding-cube">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
        </div>
      </div>
    </div>

    <!-- Header -->
    <header id="top" class="header-inner">
      <div class="brand-panel" style="background: none">
        <a href="#top" class="brand js-target-scroll hidden-xs hidden-sm">
          <img src="../img/logo/logo_kaniboom.png" />
        </a>
        <a href="#top" class="brand js-target-scroll hidden-md hidden-lg">
          <img src="../img/logo/logo_kaniboom.png" />
        </a>
      </div>

      <nav class="navbar-desctop visible-md visible-lg">
        <div class="container">
          <a href="#top" class="brand js-target-scroll">
            <img src="../img/logo/logo_kaniboom.png" />
          </a>
          <ul class="nav navbar-desctop-menu">
            <li>
              <a href="/">صفحه اصلی</a>
            </li>
            <li>
              <a href="about">درباره ما</a>
            </li>
            <li>
              <a href="/events">رویدادها</a>
              <ul>
                <li>
                  <a href="/">کانی‌شو</a>
                </li>
                <li>
                  <a href="/">بومیت</a>
                </li>
                <li>
                  <a href="/">اینوتکس</a>
                </li>
                <li>
                  <a href="/">ریتکس</a>
                </li>
                <li>
                  <a href="/events/sadaf">صدف</a>
                </li>
              </ul>
            </li>
            <li class="active">
              <a href="kanicamp">کانی‌بوم آکادمی</a>
              <ul>
                <li>
                  <a href="kanicamp">کانی‌کمپ</a>
                </li>
                <li>
                  <a href="boomcamp">بوم‌کمپ</a>
                </li>
                <li>
                  <a href="/">کانی کورس</a>
                </li>
                <li>
                  <a href="kaniamoz">کانی آموز</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/">استارت‌آپ‌ها</a>
            </li>
            <li>
              <a href="register">ارسال طرح و ایده</a>
            </li>
            <!-- <li>
              <a href="/">تماس با ما</a>
            </li> -->
          </ul>
        </div>
      </nav>

      <!-- Navigation Mobile -->

      <nav class="nav navbar-mobile">
        <a href="#top" class="brand js-target-scroll">
          <img src="../img/logo/logo_kaniboom.png" />
        </a>

        <!-- Navbar Collapse -->

        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#navbar-mobile"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-mobile">
          <ul class="navbar-nav-mobile">
            <li>
              <a href="/">صفحه اصلی</a>
            </li>
            <li>
              <a href="about">درباره ما</a>
            </li>
            <li>
              <a href="/events">رویدادها</a>
              <ul>
                <li>
                  <a href="/">کانی‌شو</a>
                </li>
                <li>
                  <a href="/">بومیت</a>
                </li>
                <li>
                  <a href="/">اینوتکس</a>
                </li>
                <li>
                  <a href="/">ریتکس</a>
                </li>
                <li>
                  <a href="/events/sadaf">صدف</a>
                </li>
              </ul>
            </li>
            <li class="active">
              <a href="kanicamp">کانی‌بوم آکادمی</a>
              <ul>
                <li>
                  <a href="kanicamp">کانی‌کمپ</a>
                </li>
                <li>
                  <a href="boomcamp">بوم‌کمپ</a>
                </li>
                <li>
                  <a href="/">کانی کورس</a>
                </li>
                <li>
                  <a href="kaniamoz">کانی آموز</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/">استارت‌آپ‌ها</a>
            </li>
            <li>
              <a href="register">ارسال طرح و ایده</a>
            </li>
            <!-- <li>
              <a href="/">تماس با ما</a>
            </li> -->
          </ul>
        </div>
      </nav>
    </header>

    <!-- Layout -->

    <div class="layout">
      <main
        class="main main-inner bg-innovations"
        data-stellar-background-ratio="0.6"
        style="
          background-position: 50% 0px;
          background: url(img/bg/innovations.jpg) 50% 0 no-repeat;
          background-size: cover;
        "
      >
        <div class="container">
          <header class="main-header text-center">
            <img
              src="../img/logo/logo_boomcamp.png"
              style="width: 150px; margin-bottom: 30px"
            />
            <h1>
              <span
                class="text-bootcamp-management"
                style="display: inline-block; padding-bottom: 10px"
                >مدیریت هوشمند کسب‌وکار</span
              >
              بوت‌کمپ
            </h1>
            <h3
              class="col-about-title text-center"
              style="direction: rtl; margin-top: 15px"
            >
              <span
                class="text-primary"
                style="display: block; padding-bottom: 10px"
                ><i class="fa fa-calendar text-primary"></i> دی تا بهمن ۱۴۰۱ -
                پایان‌یافته</span
              >
            </h3>
          </header>
        </div>

        <div class="page-lines">
          <div class="container">
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </main>
      <div class="content">
        <section id="about" class="about">
          <div class="container">
            <div class="entry">
              <p class="entry-text text-justify">
                در فضای تجارت امروز، واکنش سریع نسبت به شرایط و تغییرات، ضرورت
                حیات کسب‌‌وکارها و قرارگیری در میدان رقابت است. این مهم در سایه
                شناسایی فرصت‌ها، تصمیم‌گیری لحظه‌ای بر مبنای داده‌ها و بهره‌گیری
                از فرآیندهای بهینه صورت می‌گیرد. بوت‌کمپ مدیریت هوشمند کسب‌وکار
                متشکل از سه دوره آموزشی «تحلیل کسب‌وکار BABOK»، «مدیریت
                فرآیندهای کسب‌وکار» و «هوش تجاری با Powe BI» است تا به مدیران و
                کارآفرینان در هوشمندسازی کسب‌وکارشان کمک کند و کارشناسان را برای
                نقش‌آفرینی در سازمانشان توانمند سازد.
              </p>
              <div
                class="section-content"
                style="text-align: center; margin-top: 4em; direction: rtl"
              >
                <p class="btn btn-shadow-2">۷۸ ساعت آمووزش آنلاین</p>
              </div>
              <h4
                class="col-about-title text-center"
                style="direction: rtl; margin-top: 15px"
              >
                <span
                  class="text-primary"
                  style="display: block; padding-bottom: 10px"
                  >ظرفیت محدود</span
                >
              </h4>
            </div>
          </div>
        </section>

        <section id="services" class="section Instructor">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                مدرسان <span class="text-primary">بوت‌کمپ</span>
              </h2>
              <strong class="fade-title-left">Instructors</strong>
            </header>
            <div class="col-base col-sm-12 col-md-12">
              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher-03.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span
                      class="text-bootcamp-management"
                      style="display: block"
                      >مهندس الهه حصیری</span
                    >
                    کارشناسی ارشد MBA از دانشگاه صنعتی امیرکبیر
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher-02.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span
                      class="text-bootcamp-management"
                      style="display: block"
                      >مهندس سیف‌محمدی</span
                    >دانش‌آموخته مهندسی کامپیوتر
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/teacher-01.png" />
                  <h4 class="text-center" style="direction: rtl">
                    <span
                      class="text-bootcamp-management"
                      style="display: block"
                      >دکتر بابک هزاوه</span
                    >دکترای مدیریت سیستم‌ها از دانشگاه تهران
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="services" class="section courses">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                دوره‌های <span class="text-primary">بوت‌کمپ</span>
              </h2>
              <strong class="fade-title-left">Courses</strong>
            </header>
            <div class="col-base col-sm-12 col-md-12">
              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <h4 class="text-center" style="direction: rtl">
                    <span
                      class="text-bootcamp-management"
                      style="display: block"
                      >هوش تجاری با Power BI</span
                    >(۳۰ ساعت)
                  </h4>
                  <p class="text-justify" style="direction: rtl">
                    شما در این دوره ضمن آشنایی با اصول و مفاهیم هوش تجاری، با
                    نحوه ساخت گزارش‌ها و داشبوردهای مدیریتی در Power BI آشنا
                    خواهید شد. نگاه ما در این دوره هم مدیریتی است، هم مهندسی و
                    هم کامپیوتری. از تعریف هوش تجاری در حوزه‌های بازاریابی و
                    فروش، پشتیبانی و خدمات پس از فروش، منابع انسانی، لجستیک،
                    مالی، تولید، عملیات و... شروع می‌کنیم تا برسیم به ارزیابی و
                    تفسیر داده و اجرای پروژه‌های بهبود آن. در این راه از بهترین
                    و کاربردی‌ترین ابزار حال حاضر دنیا یعنی پاور بی آی (Power
                    BI) محصول شرکت مایکروسافت استفاده می‌کنیم.
                  </p>
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >سرفصل‌ها</span
                    >
                  </h4>
                  <p class="text-justify" style="direction: rtl">
                    ۱- آشنایی با مفاهیم هوش تجاری
                    <br />
                    ۲- ورود به نرم‌افزار Power BI
                    <br />
                    ۳- کار با نرم‌افزار Power BI
                    <br />
                    ۴- زبان DAX و فرمول‌های پرکاربرد آن
                    <br />
                    ۵- انتشار داشبورد و گزارش
                  </p>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <h4 class="text-center" style="direction: rtl">
                    <span
                      class="text-bootcamp-management"
                      style="display: block"
                      >مدیریت فرایندهای کسب‌وکار</span
                    >(۲۴ ساعت)
                  </h4>
                  <p class="text-justify" style="direction: rtl">
                    مدیریت فرآیندهای کسب‌وکار، روشی یکپارچه برای تعریف، اجرا،
                    بازبینی و بهبود فرآیندهای کسب‌وکار را ارائه می‌کند و با
                    استفاده از روش‌ها و ابزارهای مربوطه، مدیریت امور سازمانی را
                    آسان و کارآمد می‌کند. بر این اساس می‌توان گفت، مدیریت فرآیند
                    کسب‌وکار مجموعه‌ای است از رویکردهای مدیریتی و فناوری نوین که
                    به نحوی ساختاریافته، منسجم و هماهنگ، برای درک و مستندسازی،
                    مدل‌سازی، تحلیل و بهبود مستمر فرآیندهای کسب‌وکار استفاده
                    می‌ِشود. در هر زمینه کاری و صنعتی که باشیم، مدیریت فرآیندهای
                    کسب‌وکار به ما کمک می‌کند سازمانی چابک‌تر و کارآمدتر با
                    بهره‌وری بالاتر داشته باشیم.
                  </p>
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >سرفصل‌ها</span
                    >
                  </h4>
                  <p class="text-justify" style="direction: rtl">
                    ۱- معرفی و ضرورت مدیریت فرایندها
                    <br />
                    ۲- شناسایی فرایندها
                    <br />
                    ۳- مدل‌سازی فرایند با BPMN – قسمت اول
                    <br />
                    ۴- مدل‌سازی فرایند با BPMN – قسمت دوم
                    <br />
                    ۵- مدل‌سازی فرایند با BPMN – قسمت سوم
                    <br />
                    ۶- تهیه شناسنامه فرآیند با Visual Paradigm
                    <br />
                    ۷- اتوماسیون و هوشمندی فرایندها
                    <br />
                    ۸- بررسی یک فرآیند اجرایی
                    <br />
                    ۹- تحلیل فرایند
                    <br />
                    ۱۰- استفاده از مدل‌های مرجع
                    <br />
                    ۱۱- جاری‌سازی فرایندها در سازمان
                    <br />
                    ۱۲- جمع‌بندی آموزش‌ها و پرسش و پاسخ
                  </p>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <h4 class="text-center" style="direction: rtl">
                    <span
                      class="text-bootcamp-management"
                      style="display: block"
                      >تحلیل کسب‌وکار BABOK</span
                    >(۲۴ ساعت)
                  </h4>
                  <p class="text-justify" style="direction: rtl">
                    این دوره با هدف کسب کامل مهارت‌های یک تحلیلگر کسب‌وکار
                    به‌منظور استفاده در هر صنعت یا سازمانی طراحی شده است. در این
                    دوره به ده‌ها تکنیک کاربردی در تحلیل کسب‌و‌کار پرداخته خواهد
                    شد تا تحلیلگر کسب‌وکار بتواند با تحلیل استراتژیک کسب‌وکار،
                    مسائل و فرصت‌های کسب‌وکار را شناسایی کند و با تحلیل
                    نیازمندی‌ها و انتظارات ذی‌نفعان و در نهایت طراحی و پیشنهاد
                    راه‌حل و ارزیابی اثربخشی آن‌ها، خلق ارزش کند. تمپلیت فارسی
                    انجام صفر تا صد تحلیل کسب‌وکار با فرمت Word به همراه نمونه
                    خروجی فارسی کامل یک پروژه تحلیل کسب‌وکار (خروجی یک پروژه
                    واقعی) در این دوره ارائه خواهد شد.
                  </p>
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-primary" style="display: block"
                      >سرفصل‌ها</span
                    >
                  </h4>
                  <p class="text-justify" style="direction: rtl">
                    ۱- آشنایی با تحلیل کسب و کار
                    <br />
                    ۲- آشنایی با BABOK
                    <br />
                    ۳- مدل مفاهیم کلیدی تحلیل کسب و کار
                    <br />
                    ۴- تحلیل استراتژی
                    <br />
                    ۵- برنامه‌ریزی و نظارت بر تحلیل کسب و کار
                    <br />
                    ۶- احصا و استخراج الزامات و نیازمندی‌ها
                    <br />
                    ۷- مدیریت چرخه حیات نیازمندی‌ها
                    <br />
                    ۸- تحلیل نیازمندی‌ها و تعریف طراحی
                    <br />
                    ۹- ارزیابی راهکار
                    <br />
                    ۱۰- زوایای دید و شایستگی‌ها
                    <br />
                    ۱۱- مدارک تحلیل کسب و کار
                    <br />
                    ۱۲- جمع‌بندی و پرسش و پاسخ
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="about" class="section">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                مخاطبان <span class="text-primary">بوت‌کمپ</span>
              </h2>
              <strong class="fade-title-left">Clients</strong>
            </header>
            <div class="col-base col-sm-12 col-md-12">
              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <h4 class="text-center" style="direction: rtl">
                    <span
                      class="text-bootcamp-management"
                      style="display: block"
                      >علاقه‌مندان به هوش تجاری و تحول دیجیتال</span
                    >
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <h4 class="text-center" style="direction: rtl">
                    <span
                      class="text-bootcamp-management"
                      style="display: block"
                      >دانشجویان و دانش‌آموختگان جویای کار</span
                    >
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <h4 class="text-center" style="direction: rtl">
                    <span
                      class="text-bootcamp-management"
                      style="display: block"
                      >کارآفرینان و مدیران کسب‌وکارها
                    </span>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="about" class="section">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                بهای <span class="text-primary">بوت‌کمپ</span>
              </h2>
              <strong class="fade-title-left">Cost</strong>
            </header>
            <div class="col-base col-sm-12 col-md-12">
              <div class="col-sm-12 col-md-12">
                <div class="bootcamp-item text-center">
                  <h3
                    class="text-center"
                    style="direction: rtl; margin-bottom: 20px"
                  >
                    قیمت پایه: ۷ میلیون تومان
                  </h3>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <h3 class="text-center" style="direction: rtl">
                    تخفیف
                    <span
                      class="text-bootcamp-management"
                      style="display: inline-block"
                      >دانشگاهی</span
                    >
                  </h3>
                  <h4
                    class="text-center"
                    style="direction: rtl; margin-bottom: 20px"
                  >
                    (برای دانشجویان و نودانش‌آموختگان)
                  </h4>
                  <p class="btn hiring text-center" style="direction: rtl">
                    ۳۰٪ تخفیف
                  </p>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <h3 class="text-center" style="direction: rtl">
                    تخفیف
                    <span
                      class="text-bootcamp-management"
                      style="display: inline-block"
                      >دانش‌بنیانی</span
                    >
                  </h3>
                  <h4
                    class="text-center"
                    style="direction: rtl; margin-bottom: 20px"
                  >
                    (برای شرکت‌های دانش‌بنیان)
                  </h4>
                  <p class="btn hiring text-center" style="direction: rtl">
                    ۲۰٪ تخفیف
                  </p>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <h3 class="text-center" style="direction: rtl">
                    تخفیف
                    <span
                      class="text-bootcamp-management"
                      style="display: inline-block"
                      >همدلی</span
                    >
                  </h3>
                  <h4
                    class="text-center"
                    style="direction: rtl; margin-bottom: 20px"
                  >
                    (برای همه علاقه‌مندان)
                  </h4>
                  <p class="btn hiring text-center" style="direction: rtl">
                    ۱۰٪ تخفیف
                  </p>
                </div>
              </div>

              <div class="col-sm-12 col-md-12 col-base">
                <div class="bootcamp-item text-center">
                  <p
                    class="text-center"
                    style="direction: rtl; margin-bottom: 20px"
                  >
                    امکان پرداخت به صورت اقساط وجود دارد
                  </p>
                  <p
                    class="text-center"
                    style="direction: rtl; margin-bottom: 20px"
                  >
                    برای ثبت‌نام و کسب اطلاع بیشتر با شماره
                    <a href="tel:02176250250">۰۲۱۷۶۲۵۰۲۵۰ (داخلی ۱۵۰۱)</a> تماس
                    بگیرید
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="clients" class="organizers section">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                برگزار کنندگان و حامیان
                <span class="text-primary">بوت‌کمپ</span>
              </h2>
              <strong class="fade-title-left">Organizers</strong>
            </header>
            <div class="section-content text-center">
              <ul class="clients-list">
                <li class="client">
                  <a target="_blank" href="http://co-up.ir/"
                    ><img
                      alt="فضای کار اشتراکی کوآپ"
                      src="../img/logo/logo-04.png"
                      style="width: 120px"
                  /></a>
                </li>
                <li class="client">
                  <a target="_blank" href="https://techelite.ir/"
                    ><img
                      alt="مرکز رشد فناوری نخبگان"
                      src="../img/logo/logo-01.png"
                      style="width: 120px"
                  /></a>
                </li>
                <li class="client">
                  <a href="#top"
                    ><img
                      alt="سازندگاه کسب‌وکارهای نوآورانه کانی‌بوم"
                      src="../img/logo/logo-03.png"
                      style="width: 120px"
                  /></a>
                </li>
              </ul>
            </div>
          </div>
        </section>

        <section id="objects" class="section location">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                مکان برگزاری <span class="text-primary">بوت‌کمپ</span>
              </h2>
              <strong class="fade-title-left">Location</strong>
            </header>
            <div class="section-content">
              <div class="objects">
                <img alt="" class="img-responsive" src="../img/map.png" />

                <!-- Objects -->

                <div class="object-label" style="left: 45%; top: 28%">
                  <div class="object-info in">
                    <h3 class="object-title text-center">مکان برگزاری</h3>
                    <p
                      class="object-content text-center"
                      style="direction: rtl"
                    >
                      تهران، شهر پردیس، پارک فناوری پردیس
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Contacts -->

        <footer id="footer" class="footer">
          <div class="container">
            <div class="row-base row">
              <div class="col-base text-left-md col-md-4">
                <a href="#" class="brand">
                  <img src="../img/logo/logo_kaniboom.png" />
                </a>
              </div>
              <div class="text-center-md col-base col-md-4">
                <a href="tel:09387536548" class="author-link">
                  طراحی وب سایت توسط کانی‌بوم
                </a>
              </div>
              <div
                class="text-right-md col-base col-md-4"
                style="direction: rtl"
              >
                © کلیه حقوق وب سایت متعلق به سازندگاه کسب‌وکارهای نوآورانه
                کانی‌بوم می باشد.
              </div>
            </div>
          </div>
        </footer>

        <div class="page-lines">
          <div class="container">
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SCRIPTS -->

    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/smoothscroll.js"></script>
    <script src="../js/jquery.validate.min.js"></script>
    <script src="../js/wow.min.js"></script>
    <script src="../js/jquery.stellar.min.js"></script>
    <script src="../js/jquery.magnific-popup.js"></script>
    <script src="../js/owl.carousel.min.js"></script>

    <!-- SLIDER REVOLUTION -->
    <script src="../js/rev-slider/jquery.themepunch.tools.min.js"></script>
    <script src="../js/rev-slider/jquery.themepunch.revolution.min.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS   -->
    <script src="../js/rev-slider/revolution.extension.actions.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.carousel.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.kenburn.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.layeranimation.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.migration.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.navigation.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.parallax.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.slideanims.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.video.min.js"></script>
    <script src="../js/interface.js"></script>
  </body>
</html>
