<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>سازندگاه کسب و کارهای نوآورانه کانی بوم | بوت‌کمپ بازی‌سازی</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="../img/logo/logo_kaniboom_ficon.jpg" />
    <link rel="apple-touch-icon" href="../img/logo/logo_kaniboom_ficon.jpg" />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="../img/logo/logo_kaniboom_ficon.jpg"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="../img/logo/logo_kaniboom_ficon.jpg"
    />

    <!-- Styles -->
    <link href="../css/style.css" rel="stylesheet" media="screen" />
  </head>
  <body>
    <!-- Loader -->
    <div class="loader">
      <div class="page-lines">
        <div class="container">
          <div class="col-line col-xs-4">
            <div class="line"></div>
          </div>
          <div class="col-line col-xs-4">
            <div class="line"></div>
          </div>
          <div class="col-line col-xs-4">
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
      </div>
      <div class="loader-brand">
        <div class="sk-folding-cube">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
        </div>
      </div>
    </div>

    <!-- Header -->
    <header id="top" class="header-inner">
      <div class="brand-panel" style="background: none">
        <a href="#top" class="brand js-target-scroll hidden-xs hidden-sm">
          <img src="../img/logo/logo_kaniboom.png" />
        </a>
        <a href="#top" class="brand js-target-scroll hidden-md hidden-lg">
          <img src="../img/logo/logo_kaniboom.png" />
        </a>
      </div>

      <nav class="navbar-desctop visible-md visible-lg">
        <div class="container">
          <a href="#top" class="brand js-target-scroll">
            <img src="../img/logo/logo_kaniboom.png" />
          </a>
          <ul class="nav navbar-desctop-menu">
            <li>
              <a href="/">صفحه اصلی</a>
            </li>
            <li>
              <a href="about">درباره ما</a>
            </li>
            <li>
              <a href="/events">رویدادها</a>
            </li>
            <li class="active">
              <a href="kanicamp">کانی بوم آکادمی</a>
              <ul>
                <li>
                  <a href="kanicamp">کانی‌کمپ</a>
                </li>
                <li>
                  <a href="boomcamp">بوم‌کمپ</a>
                </li>
                <!-- <li>
                  <a href="/">کانی کورس</a>
                </li>
                <li>
                  <a href="kaniamoz">کانی آموز</a>
                </li> -->
              </ul>
            </li>
            <li>
              <a href="/news">اخبار</a>
            </li>
            <li>
              <a href="register">ارسال طرح و ایده</a>
            </li>
            <!-- <li>
              <a href="/">تماس با ما</a>
            </li> -->
          </ul>
        </div>
      </nav>

      <!-- Navigation Mobile -->

      <nav class="nav navbar-mobile">
        <a href="#top" class="brand js-target-scroll">
          <img src="../img/logo/logo_kaniboom.png" />
        </a>

        <!-- Navbar Collapse -->

        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#navbar-mobile"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-mobile">
          <ul class="navbar-nav-mobile">
            <li>
              <a href="/">صفحه اصلی</a>
            </li>
            <li>
              <a href="about">درباره ما</a>
            </li>
            <li>
              <a href="/events">رویدادها</a>
            </li>
            <li class="active">
              <a href="kanicamp">کانی بوم آکادمی</a>
              <ul>
                <li>
                  <a href="kanicamp">کانی‌کمپ</a>
                </li>
                <li>
                  <a href="boomcamp">بوم‌کمپ</a>
                </li>
                <!-- <li>
                  <a href="/">کانی کورس</a>
                </li>
                <li>
                  <a href="kaniamoz">کانی آموز</a>
                </li> -->
              </ul>
            </li>
            <li>
              <a href="/news">اخبار</a>
            </li>
            <li>
              <a href="register">ارسال طرح و ایده</a>
            </li>
            <!-- <li>
              <a href="/">تماس با ما</a>
            </li> -->
          </ul>
        </div>
      </nav>
    </header>

    <!-- Layout -->

    <div class="layout">
      <main
        class="main main-inner bg-innovations"
        data-stellar-background-ratio="0.6"
        style="
          background-position: 50% 0px;
          background: url(img/bg/bootcamp-gaming.jpg) 50% 0 no-repeat;
          background-size: cover;
        "
      >
        <div class="container">
          <header class="main-header text-center">
            <img
              src="../img/logo/logo_boomcamp.png"
              style="width: 150px; margin-bottom: 30px"
            />
            <h1>
              <span
                class="text-bootcamp-gaming"
                style="display: inline-block; padding-bottom: 10px"
                >بازی‌سازی</span
              >
              بوت‌کمپ
            </h1>
            <h3
              class="col-about-title text-center"
              style="direction: rtl; margin-top: 15px"
            >
              <span
                class="text-primary"
                style="display: block; padding-bottom: 10px"
                ><i class="fa fa-calendar text-primary"></i> بهمن تا اسفند ۱۴۰۱
                - پایان‌یافته</span
              >
            </h3>
          </header>
        </div>

        <div class="page-lines">
          <div class="container">
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </main>
      <div class="content">
        <section id="about" class="about">
          <div class="container">
            <div class="entry">
              <p class="entry-text text-justify">
                بازی نوعی سرگرمی محبوب است که افراد برای فعالیت ذهنی، کاهش استرس
                و گاهی ایجاد ارتباط با دیگران از آن استفاده می کنند. یک تیم
                بازی‌سازی می‌تواند یک بازی را مفهوم‌سازی، آزمایش و بازاریابی کند
                تا از موفقیت آن اطمینان حاصل کند. در چنین تیمی، توسعه‌‌دهندگان
                بازی‌ و بازی‌سازان کسانی هستند که محصول نهایی را می‌سازند.
                انگیزه اصلی یک بازی‌ساز جدا از درآمد بازی‌سازی، معمولا ساخت
                ایده‌های ذهنی و خلق آن‌ها در دنیای واقعی است. به مرور زمان که
                شروع به تمرین مهارت‌های خود می‌کند و درباره دنیای ساخت و انتشار
                بازی آموزش می‌بیند، این انگیزه تغییر کرده و به انگیزه کسب درآمد
                تبدیل می‌شود. با توجه به رشد روز افزون این صنعت، با یادگیری
                مهارت و تخصص در زمینه بازی‌سازی، موفقیت در این شغل از آنچه که
                فکر می‌کنید به شما نزدیک‌تر است. بوت‌کمپ بازی‌سازی فرصتی بی‌نظیر
                برای آموزش تخصص بازی‌سازی و ورود به دنیای جذاب بازی‌سازشدن است.
              </p>

              <p
                class="text-center"
                style="direction: rtl; margin-bottom: 20px"
              >
                <span class="text-primary">در این بوت‌کمپ:</span>
                <br />
                اولین بازی خود را می‌سازید.
                <br />
                یاد می‌گیرید چطور از بازی‌سازی درآمدزایی کنید.
                <br />
                از مشاوره متخصصان بازی‌سازی بهره‌مند می‌شوید.
                <br />
                پکیج‌های آنلاین و آفلاین ویژه بازی‌سازباش را هدیه می‌گیرید.
                <br />
                یک‌ماه به‌صورت رایگان از فضای کار اشتراکی پارک فناوری پردیس
                استفاده می‌کنید.
                <br />
                برای ارائه پروپوزال بازی‌سازی به پارک فناوری پردیس و دریافت
                حمایت ۲۰ میلیون تومانی برگزیدگان آماده خواهید شد.
              </p>

              <div
                class="section-content"
                style="text-align: center; margin-top: 4em; direction: rtl"
              >
                <p class="btn btn-shadow-2">۶۰ ساعت آموزش حضوری</p>
              </div>
              <h4
                class="col-about-title text-center"
                style="direction: rtl; margin-top: 15px"
              >
                <span
                  class="text-primary"
                  style="display: block; padding-bottom: 10px"
                >
                  آغاز بوت‌کمپ: ۸ دی ۱۴۰۱
                  <br />
                  <s>پیش‌رویداد معرفی بوت‌کمپ: ۲۱ آذر ۱۴۰۱</s>
                </span>
                حضور در پیش‌رویداد برای همه علاقه‌مندان «آزاد» و «رایگان» است
              </h4>
            </div>
          </div>
        </section>

        <section id="services" class="section Instructor">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                مدرسان <span class="text-primary">بوت‌کمپ</span>
              </h2>
              <strong class="fade-title-left">Instructors</strong>
            </header>
            <div class="col-base col-sm-12 col-md-12">
              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/gaming-03.jpg" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-bootcamp-gaming" style="display: block"
                      >مهدی صدری</span
                    >
                    مدیرعامل و هم‌بنیان‌گذار بازی‌سازباش
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/gaming-02.jpg" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-bootcamp-gaming" style="display: block"
                      >امیر نظری</span
                    >بازی‌ساز مستقل و هم‌بنیان‌گذار بازی‌سازباش
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <img alt="" src="../img/kaniboom-academic/gaming-01.jpg" />
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-bootcamp-gaming" style="display: block"
                      >علی عاشوری</span
                    >نویسنده و مدرس بازی‌سازی در بازی‌سازباش
                  </h4>
                </div>
              </div>
            </div>
            <div
              class="col-sm-12 col-md-12"
              style="text-align: center; margin-top: 2em; direction: rtl"
            >
              <p>
                <a
                  class="btn btn-shadow-2"
                  href="https://bazisazbash.com/history"
                  target="_blank"
                  >درباره مدرسان بیشتر بدانید</a
                >
              </p>
            </div>
          </div>
        </section>

        <section id="services" class="section courses">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                دوره‌های <span class="text-primary">بوت‌کمپ</span>
              </h2>
              <strong class="fade-title-left">Courses</strong>
            </header>
            <div class="col-base col-sm-12 col-md-12">
              <div class="col-sm-12 col-md-4 float-right">
                <div class="bootcamp-item text-center">
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-bootcamp-gaming" style="display: block"
                      >آغاز سفر بازی سازی</span
                    >
                  </h4>
                  <p class="text-justify" style="direction: rtl">
                    ۱- مبانی بازی‌سازی
                    <br />
                    ۲- سبک‌شناسی بازی‌ها
                    <br />
                    ۳- کسب و کار بازی‌های ویدیویی
                    <br />
                    ۴- بخش های مختلف ساخت بازی
                    <br />
                    ۵- بازی‌سازی مستقل و غیرمستقل
                    <br />
                    ۶- ایده بازی
                  </p>
                </div>
              </div>

              <div class="col-sm-12 col-md-4 float-right">
                <div class="bootcamp-item text-center">
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-bootcamp-gaming" style="display: block"
                      >شروع به ساخت اولین بازی</span
                    >
                  </h4>
                  <p class="text-justify" style="direction: rtl">
                    ۱- معرفی موتورهای ساخت بازی
                    <br />
                    ۲- معرفی یونیتی و شروع کار با آن
                    <br />
                    ۳- ساخت پروژه جدید
                    <br />
                    ۴- رابط کاربری یونیتی
                    <br />
                    ۵- مفاهیم اولیه: GameObject، Asset، Component، Mesh و
                    Material, Prefab، Child & Parent، Asset Store، Sprite
                    <br />
                    ۶- نصب و کار با Pro Builder
                    <br />
                    ۷- نصب و کار با Play Maker
                    <br />
                    ۸- دوربین و Cinemachine
                    <br />
                    ۹- نورپردازی
                    <br />
                    ۱۰- Particle
                    <br />
                    ۱۱- انیمیشن و انیماتور
                    <br />
                    ۱۲- تایم لاین
                    <br />
                    ۱۳- صداگذاری و Audio Mixer
                    <br />
                    ۱۴- UI
                    <br />
                    ۱۵- Post Process
                    <br />
                    ۱۶- خروجی گرفتن از بازی و انتشار بازی
                  </p>
                </div>
              </div>

              <div class="col-sm-12 col-md-4 float-right">
                <div class="bootcamp-item text-center">
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-bootcamp-gaming" style="display: block"
                      >طراحی و داستان</span
                    >
                  </h4>
                  <p class="text-justify" style="direction: rtl">
                    ۱- آشنایی با طراحی بازی (Game Design)
                    <br />
                    ۲- فرآیند طراحی بازی
                    <br />
                    ۳- بازی سازی و نقش صنعت سینما در شکل گیری هویت آن
                    <br />
                    ۴- مبانی مقدماتی داستان و روایت
                    <br />
                    ۵- نقش داستان در انواع بازی
                    <br />
                    ۶- تفاوت داستان نویسی در بازی سازی و سایر صنعت‌ها
                    <br />
                    ۷- انتخاب شخصیت‌ها و خصوصیات آن‌ها
                    <br />
                    ۸- تاثیر گیم پلی در نحوه بیان روایت
                    <br />
                    ۹- انتخاب سطح پیچیدگی داستان براساس پتانسیل های موجود و
                    اتمسفر بازی
                    <br />
                    ۱۰- طراحی رخدادهای داستانی
                    <br />
                    ۱۱- نقش شخصیت های مکمل در داستان
                    <br />
                    ۱۲- نقش و نحوه تعامل با سایر افراد تیم در فرایند ساخت پروژه
                    <br />
                    ۱۳- انواع داستان نویسی و اقتباس از داستان های دیگر
                  </p>
                </div>
              </div>
            </div>
            <div class="col-base col-sm-12 col-md-12">
              <div class="col-sm-12 col-md-4 float-right">
                <div class="bootcamp-item text-center">
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-bootcamp-gaming" style="display: block"
                      >هنر در بازی‌سازی مستقل</span
                    >
                  </h4>
                  <p class="text-justify" style="direction: rtl">
                    ۱- معرفی بخش های مختلف هنری ساخت یک بازی
                    <br />
                    ۲- تهیه انیمیشن برای یک بازی مستقل
                    <br />
                    ۳- تهیه صدا و موزیک برای یک بازی مستقل
                    <br />
                    ۴- تهیه مدل برای یک بازی مستقل
                    <br />
                    ۵- ویرایش محتواهای هنری و شخصی سازی آن‌ها
                  </p>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 float-right">
                <div class="bootcamp-item text-center">
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-bootcamp-gaming" style="display: block"
                      >بررسی جنبه های دیگر کسب و کار بازی سازی</span
                    >
                  </h4>
                  <p class="text-justify" style="direction: rtl">
                    ۱- مدیریت و رهبری
                    <br />
                    ۲- تعامل با افراد تیم
                    <br />
                    ۳- جذب سرمایه
                    <br />
                    ۴- حضور در رویدادهای بین‌المللی
                  </p>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 float-right">
                <div class="bootcamp-item text-center">
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-bootcamp-gaming" style="display: block"
                      >بازاریابی بازی</span
                    >
                  </h4>
                  <p class="text-justify" style="direction: rtl">
                    ۱- حضور در شبکه های اجتماعی
                    <br />
                    ۲- وبسایت، Press Kit و…
                    <br />
                    ۳- آماده سازی برای انتشار بازی
                    <br />
                    ۴- استیم و Wishlist
                  </p>
                </div>
              </div>
            </div>
            <div
              class="col-sm-12 col-md-12"
              style="text-align: center; margin-top: 2em; direction: rtl"
            >
              <p>
                <a
                  class="btn btn-shadow-2"
                  href="https://bazisazbash.com/indie-game-dev-vs-aaa-game-dev/"
                  target="_blank"
                  >درباره بازی‌سازی مستقل بیشتر بدانید</a
                >
              </p>
            </div>
          </div>
        </section>

        <section id="about" class="section">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                مخاطبان <span class="text-primary">بوت‌کمپ</span>
              </h2>
              <strong class="fade-title-left">Clients</strong>
            </header>
            <div class="col-base col-sm-12 col-md-12">
              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-bootcamp-gaming" style="display: block"
                      >علاقه‌مندان به بازی‌سازی</span
                    >
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-bootcamp-gaming" style="display: block"
                      >دانشجویان و دانش‌آموختگان کامپیوتر</span
                    >
                  </h4>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <h4 class="text-center" style="direction: rtl">
                    <span class="text-bootcamp-gaming" style="display: block"
                      >توسعه‌دهندگان بازی و بازی‌سازها</span
                    >
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="about" class="section">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                بهای <span class="text-primary">بوت‌کمپ</span>
              </h2>
              <strong class="fade-title-left">Cost</strong>
            </header>
            <div class="col-base col-sm-12 col-md-12">
              <div class="col-sm-12 col-md-12">
                <div class="bootcamp-item text-center">
                  <h3
                    class="text-center"
                    style="direction: rtl; margin-bottom: 20px"
                  >
                    قیمت پایه: ۸ میلیون تومان
                  </h3>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <h3 class="text-center" style="direction: rtl">
                    تخفیف
                    <span
                      class="text-bootcamp-gaming"
                      style="display: inline-block"
                      >مجازی</span
                    >
                  </h3>
                  <h4
                    class="text-center"
                    style="direction: rtl; margin-bottom: 20px"
                  >
                    (برای متقاضیان غیرحضوری)
                  </h4>
                  <p class="btn hiring text-center" style="direction: rtl">
                    ۳۰٪ تخفیف
                  </p>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <h3 class="text-center" style="direction: rtl">
                    تخفیف
                    <span
                      class="text-bootcamp-gaming"
                      style="display: inline-block"
                      >دانشگاهی</span
                    >
                  </h3>
                  <h4
                    class="text-center"
                    style="direction: rtl; margin-bottom: 20px"
                  >
                    (برای دانشجویان و نودانش‌آموختگان)
                  </h4>
                  <p class="btn hiring text-center" style="direction: rtl">
                    ۲۰٪ تخفیف
                  </p>
                </div>
              </div>

              <div class="col-sm-12 col-md-4">
                <div class="bootcamp-item text-center">
                  <h3 class="text-center" style="direction: rtl">
                    تخفیف
                    <span
                      class="text-bootcamp-gaming"
                      style="display: inline-block"
                      >همدلی</span
                    >
                  </h3>
                  <h4
                    class="text-center"
                    style="direction: rtl; margin-bottom: 20px"
                  >
                    (برای همه علاقه‌مندان)
                  </h4>
                  <p class="btn hiring text-center" style="direction: rtl">
                    ۱۰٪ تخفیف
                  </p>
                </div>
              </div>

              <div class="col-sm-12 col-md-12 col-base">
                <div class="bootcamp-item text-center">
                  <p
                    class="text-center"
                    style="direction: rtl; margin-bottom: 20px"
                  >
                    امکان پرداخت در دو قسط وجود دارد
                  </p>
                  <p
                    class="text-center"
                    style="direction: rtl; margin-bottom: 20px"
                  >
                    برای ثبت‌نام و کسب اطلاع بیشتر با شماره
                    <a href="tel:02176250250">۰۲۱۷۶۲۵۰۲۵۰ (داخلی ۱۵۰۱)</a> تماس
                    بگیرید یا به شماره
                    <span class="text-primary">۰۹۰۵۸۹۷۳۹۰۵</span> پیام بدهید
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="clients" class="organizers section">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                برگزار کنندگان و حامیان
                <span class="text-primary">بوت‌کمپ</span>
              </h2>
              <strong class="fade-title-left">Organizers</strong>
            </header>
            <div class="section-content text-center">
              <ul class="clients-list">
                <li class="client">
                  <a target="_blank" href="http://co-up.ir/"
                    ><img
                      alt="فضای کار اشتراکی کوآپ"
                      src="../img/logo/logo-04.png"
                      style="width: 120px"
                  /></a>
                </li>
                <li class="client">
                  <a target="_blank" href="https://techelite.ir/"
                    ><img
                      alt="مرکز رشد فناوری نخبگان"
                      src="../img/logo/logo-01.png"
                      style="width: 120px"
                  /></a>
                </li>
                <li class="client">
                  <a target="_blank" href="https://techpark.ir/"
                    ><img
                      alt="پارک فناوری پردیس"
                      src="../img/logo/logo-06.png"
                      style="width: 120px"
                  /></a>
                </li>
                <li class="client">
                  <a href="#top"
                    ><img
                      alt="سازندگاه کسب‌وکارهای نوآورانه کانی بوم"
                      src="../img/logo/logo-03.png"
                      style="width: 120px"
                  /></a>
                </li>
                <li class="client">
                  <a target="_blank" href="https://bazisazbash.com/"
                    ><img
                      alt="بازی‌سازی باش"
                      src="../img/logo/logo-07.png"
                      style="width: 120px"
                  /></a>
                </li>
              </ul>
            </div>
          </div>
        </section>

        <section id="objects" class="section location">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                مکان برگزاری <span class="text-primary">بوت‌کمپ</span>
              </h2>
              <strong class="fade-title-left">Location</strong>
            </header>
            <div class="section-content">
              <div class="objects">
                <img alt="" class="img-responsive" src="../img/map.png" />

                <!-- Objects -->

                <div class="object-label" style="left: 45%; top: 28%">
                  <div class="object-info in">
                    <h3 class="object-title text-center">مکان برگزاری</h3>
                    <p
                      class="object-content text-center"
                      style="direction: rtl"
                    >
                      تهران، شهر پردیس، پارک فناوری پردیس
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Contacts -->

        <div id="mybutton">
          <a href="tel:09058973905" class="text-white">
            <button class="btn btn-shadow-2 wow swing">
              ثبت‌نام
              <i class="fa fa-phone"></i>
            </button>
          </a>
        </div>

        <footer id="footer" class="footer">
          <div class="container">
            <div class="row-base row">
              <div class="col-base text-left-md col-md-4">
                <a href="#" class="brand">
                  <img src="../img/logo/logo_kaniboom.png" />
                </a>
              </div>
              <div class="text-center-md col-base col-md-4">
                <a href="tel:09387536548" class="author-link">
                  طراحی وب سایت توسط کانی بوم
                </a>
              </div>
              <div
                class="text-right-md col-base col-md-4"
                style="direction: rtl"
              >
                © کلیه حقوق وب سایت متعلق به سازندگاه کسب‌وکارهای نوآورانه
                کانی بوم می باشد.
              </div>
            </div>
          </div>
        </footer>

        <div class="page-lines">
          <div class="container">
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SCRIPTS -->

    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/smoothscroll.js"></script>
    <script src="../js/jquery.validate.min.js"></script>
    <script src="../js/wow.min.js"></script>
    <script src="../js/jquery.stellar.min.js"></script>
    <script src="../js/jquery.magnific-popup.js"></script>
    <script src="../js/owl.carousel.min.js"></script>

    <!-- SLIDER REVOLUTION -->
    <script src="../js/rev-slider/jquery.themepunch.tools.min.js"></script>
    <script src="../js/rev-slider/jquery.themepunch.revolution.min.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS   -->
    <script src="../js/rev-slider/revolution.extension.actions.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.carousel.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.kenburn.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.layeranimation.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.migration.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.navigation.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.parallax.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.slideanims.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.video.min.js"></script>
    <script src="../js/interface.js"></script>
  </body>
</html>
