<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="کانی بوم، شتابدهنده تخصصی معدن و صنایع معدنی است که با هدفتوسعه و ترويج نوآوری،  ایجاد زیرساخت‌های فناورانه  و حمایت از کسب‌وکارهای نوپا در بخش معدن و صنایع معدنی شکل گرفته است. تمرکز فعالیت این شتابدهنده بر تکمیل زنجیره ارزش مواد معدنی و هوشمندسازی معادن است."
    />
    <meta name="keywords" content="کانی بوم, شتابدهنده, سازندگاه, معدن" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>سازندگاه کسب و کارهای نوآورانه کانی بوم</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="../img/logo/logo_kaniboom_ficon.jpg" />
    <link rel="apple-touch-icon" href="../img/logo/logo_kaniboom_ficon.jpg" />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="../img/logo/logo_kaniboom_ficon.jpg"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="../img/logo/logo_kaniboom_ficon.jpg"
    />

    <!-- Styles -->
    <link href="../css/style.css" rel="stylesheet" media="screen" />
  </head>
  <body>
    <!-- Loader -->
    <div class="loader">
      <div class="page-lines">
        <div class="container">
          <div class="col-line col-xs-4">
            <div class="line"></div>
          </div>
          <div class="col-line col-xs-4">
            <div class="line"></div>
          </div>
          <div class="col-line col-xs-4">
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
      </div>
      <div class="loader-brand">
        <div class="sk-folding-cube">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
        </div>
      </div>
    </div>

    <!-- Header -->

    <header id="top" class="header-home">
      <div class="brand-panel">
        <a href="#top" class="brand js-target-scroll hidden-xs hidden-sm">
          <img src="../img/logo/logo_kaniboom.png" />
        </a>
        <a href="#top" class="brand js-target-scroll hidden-md hidden-lg">
          <img src="../img/logo/logo_kaniboom.png" />
        </a>
        <div class="brand-name hidden-xs">KANI BOOM</div>
        <div class="slide-number">
          <span class="current-number text-primary"
            >0<span class="count">1</span></span
          >
          <sup
            ><span class="delimiter">/</span> 0<span class="total-count"></span
          ></sup>
        </div>
      </div>
      <div class="vertical-panel"></div>
      <div class="vertical-panel-content">
        <div class="vertical-panel-info">
          <div class="vertical-panel-title">Kani Boom</div>
          <div class="line"></div>
        </div>
        <ul class="social-list">
          <li>
            <a href="tel:02171057879" class="fa fa-phone">
              <span style="padding-left: 5px; font-size: 18px">
                02171057879
              </span>
            </a>
          </li>
          <li>
            <a href="mailto: info@kaniboom.ir" class="fa fa-envelope"></a>
          </li>
          <li>
            <a
              href="http://www.instagram.com/kaniboom.ir"
              class="fa fa-instagram"
              target="_blank"
            ></a>
          </li>
          <li>
            <a
              href="http://www.linkedin.com/company/kaniboom"
              class="fa fa-linkedin"
              target="_blank"
            ></a>
          </li>
        </ul>
      </div>

      <!-- Navigation Desctop -->

      <nav class="navbar-desctop visible-md visible-lg">
        <div class="container">
          <a href="#top" class="brand js-target-scroll">
            <img src="../img/logo/logo_kaniboom.png" />
          </a>
          <ul class="nav navbar-desctop-menu">
            <li class="active">
              <a href="#top">صفحه اصلی</a>
            </li>
            <li>
              <a href="about">درباره ما</a>
            </li>
            <li>
              <a href="/events">رویدادها</a>
            </li>
            <li>
              <a href="#">کانی بوم آکادمی</a>
              <ul>
                <li>
                  <a href="kanicamp">کانی‌کمپ</a>
                </li>
                <li>
                  <a href="boomcamp">بوم‌کمپ</a>
                </li>
                <!-- <li>
                  <a href="/">کانی کورس</a>
                </li>
                <li>
                  <a href="kaniamoz">کانی آموز</a>
                </li> -->
              </ul>
            </li>
            <li>
              <a href="/news">اخبار</a>
            </li>
            <li>
              <a href="register">ارسال طرح و ایده</a>
            </li>
            <!-- <li>
              <a href="/">تماس با ما</a>
            </li> -->
          </ul>
        </div>
      </nav>

      <!-- Navigation Mobile -->

      <nav class="nav navbar-mobile">
        <a href="#top" class="brand js-target-scroll">
          <img src="../img/logo/logo_kaniboom.png" />
        </a>

        <!-- Navbar Collapse -->

        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#navbar-mobile"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-mobile">
          <ul class="navbar-nav-mobile">
            <li class="active">
              <a href="#top">صفحه اصلی</a>
            </li>
            <li>
              <a href="about">درباره ما</a>
            </li>
            <li>
              <a href="/events">رویدادها</a>
            </li>
            <li>
              <a href="#">کانی بوم آکادمی</a>
              <ul>
                <li>
                  <a href="kanicamp">کانی‌کمپ</a>
                </li>
                <li>
                  <a href="boomcamp">بوم‌کمپ</a>
                </li>
                <!-- <li>
                  <a href="/">کانی کورس</a>
                </li>
                <li>
                  <a href="/">کانی آموز</a>
                </li> -->
              </ul>
            </li>
            <li>
              <a href="/news">اخبار</a>
            </li>
            <li>
              <a href="register">ارسال طرح و ایده</a>
            </li>
            <!-- <li>
              <a href="/">تماس با ما</a>
            </li> -->
          </ul>
        </div>
      </nav>
    </header>

    <!-- Layout -->

    <div class="layout">
      <!-- Home -->

      <main class="main">
        <div class="arrow-left"></div>
        <div class="arrow-right"></div>

        <!-- Start revolution slider -->

        <div class="rev_slider_wrapper">
          <div id="rev_slider" class="rev_slider fullscreenbanner">
            <ul>
              <!-- Slide -1 -->
              <li
                data-transition="slotzoom-horizontal"
                data-slotamount="7"
                data-easein="Power3.easeInOut"
                data-easeout="Power3.easeInOut"
                data-masterspeed="1000"
              >
                <!-- conmine slide -->
                <img
                  src="../img/slider/Space200-300copy.jpg"
                  alt=""
                  data-bgposition="center center"
                  data-bgfit="cover"
                  data-bgrepeat="no-repeat"
                  class="rev-slidebg"
                />
                <div
                  style="
                    position: absolute;
                    width: 100%;
                    height: 100px;
                    background-color: rgba(0, 0, 0, 0.3);
                    z-index: 100;
                    transition: all 0.3s;
                  "
                ></div>

                <div class="section-content btn-slider">
                  <a target="_blank" href="/news/conmine"
                    ><p class="btn btn-shadow-2">مشاهده</p></a
                  >
                </div>
              </li>
              <!-- Slide 0 -->
              <li
                data-transition="slotzoom-horizontal"
                data-slotamount="7"
                data-easein="Power3.easeInOut"
                data-easeout="Power3.easeInOut"
                data-masterspeed="1000"
              >
                <!-- sadaf slide -->
                <img
                  src="../img/slider/mine1080.jpg"
                  alt=""
                  data-bgposition="center center"
                  data-bgfit="content"
                  data-bgrepeat="no-repeat"
                  class="rev-slidebg"
                />
                <div class="section-content btn-slider">
                  <a target="_blank" href="/events"
                    ><p class="btn btn-shadow-2">ثبت‌نام</p></a
                  >
                </div>
              </li>
              <!-- Slide 3 -->
              <li
                data-transition="slotzoom-horizontal"
                data-slotamount="7"
                data-easein="Power3.easeInOut"
                data-easeout="Power3.easeInOut"
                data-masterspeed="1000"
              >
                <!-- sadaf slide -->
                <img
                  src="../img/2th/slide-sadaf.jpg"
                  alt=""
                  data-bgposition="center center"
                  data-bgfit="cover"
                  data-bgrepeat="no-repeat"
                  class="rev-slidebg"
                />
                <div
                  style="
                    position: absolute;
                    width: 100%;
                    height: 100px;
                    background-color: rgba(0, 0, 0, 0.3);
                    z-index: 100;
                    transition: all 0.3s;
                  "
                ></div>
                <div class="section-content btn-slider">
                  <a target="_blank" href="/events/sadaf"
                    ><p class="btn btn-shadow-2">ثبت‌نام</p></a
                  >
                </div>
              </li>
              <li
                data-transition="slotzoom-horizontal"
                data-slotamount="7"
                data-easein="Power3.easeInOut"
                data-easeout="Power3.easeInOut"
                data-masterspeed="1000"
              >
                <!-- Main image -->
                <img
                  src="../img/3th/kc-slide.jpg"
                  alt=""
                  data-bgposition="center center"
                  data-bgfit="cover"
                  data-bgrepeat="no-repeat"
                  class="rev-slidebg"
                />
                <div
                  style="
                    position: absolute;
                    width: 100%;
                    height: 100px;
                    background-color: rgba(0, 0, 0, 0.3);
                    z-index: 100;
                    transition: all 0.3s;
                  "
                ></div>

                <div class="section-content btn-slider">
                  <a target="_blank" href="bootcamp-mineralprocessing"
                    ><p class="btn btn-shadow-2">ثبت‌نام</p></a
                  >
                </div>
              </li>

              <!-- Slide 2 -->
              <!-- <li
                data-transition="slotzoom-horizontal"
                data-slotamount="7"
                data-easein="Power3.easeInOut"
                data-easeout="Power3.easeInOut"
                data-masterspeed="1000"
              >
                <img
                  src="../img/slider/kaniamooz.jpg"
                  alt=""
                  data-bgposition="center center"
                  data-bgfit="cover"
                  data-bgrepeat="no-repeat"
                  class="rev-slidebg"
                />
                <div class="section-content btn-slider">
                  <a target="_blank" href="kaniamoz"
                    ><p class="btn btn-shadow-2">ثبت‌نام</p></a
                  >
                </div>
              </li> -->

              <!-- Slide 2 -->
              <!-- <li
                data-transition="slotzoom-horizontal"
                data-slotamount="7"
                data-easein="Power3.easeInOut"
                data-easeout="Power3.easeInOut"
                data-masterspeed="1000"
              >
                <img
                  src="../img/slider/04.jpg"
                  alt=""
                  data-bgposition="center center"
                  data-bgfit="cover"
                  data-bgrepeat="no-repeat"
                  class="rev-slidebg"
                />
                <div class="section-content btn-slider">
                  <a target="_blank" href="bootcamp-masir"
                    ><p class="btn btn-shadow-2">ثبت‌نام</p></a
                  >
                </div>
              </li> -->

              <!-- Slide 2 -->
              <!-- <li
                data-transition="slotzoom-horizontal"
                data-slotamount="7"
                data-easein="Power3.easeInOut"
                data-easeout="Power3.easeInOut"
                data-masterspeed="1000"
              >
                <img
                  src="../img/slider/02.jpg"
                  alt=""
                  data-bgposition="center center"
                  data-bgfit="cover"
                  data-bgrepeat="no-repeat"
                  class="rev-slidebg"
                />
                <div class="section-content btn-slider">
                  <a target="_blank" href="register"
                    ><p class="btn btn-shadow-2">ارسال طرح و ایده</p></a
                  >
                </div>
              </li> -->

              <!-- Slide 1 -->
              <li
                data-transition="slotzoom-horizontal"
                data-slotamount="7"
                data-masterspeed="1000"
                data-fsmasterspeed="1000"
              >
                <!-- Main image-->
                <div
                  class="slide-title tp-caption tp-resizeme text-primary"
                  style="letter-spacing: 0; font-family: IRANSans"
                  data-x="['right','right','right','right']"
                  data-hoffset="['0','0','0','0']"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['-100','-100', '-100']"
                  data-fontsize="['45','40', '30']"
                  data-lineheight="['80','75', '65']"
                  data-width="['1500','1000','550']"
                  data-height="none"
                  data-whitespace="normal"
                  data-transform_idle="o:1;"
                  data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:50px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="500"
                  data-splitout="none"
                  data-responsive_offset="on"
                  data-elementdelay="0.05"
                >
                  سازندگاه کسب‌وکارهای نوآورانه کانی بوم
                </div>
                <div
                  class="slide-subtitle tp-caption tp-resizeme"
                  data-x="['right','right','right','right']"
                  data-hoffset="['0']"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['75','105']"
                  data-fontsize="['18']"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1200;e:Power1.easeInOut;"
                  data-transform_out="opacity:0;s:1000;s:1000;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-start="1500"
                  data-splitin="none"
                  data-splitout="none"
                >
                  دارای تاییدیه شرکت‌های دانش‌بنيان از معاونت علمی و فناوری
                  ریاست جمهوری
                  <br />
                  کارگزار رسمی میز معدن معاونت علمی و فناوری ریاست جمهوری
                  <br />
                  کارگزار تجارت فناوری شبکه فن بازار ملی ایران
                  <br />
                  کارگزار رسمی مرکز رشد فناوری نخبگان
                  <br />
                  عضو مرکز شتابدهی نوآوری
                </div>
              </li>
            </ul>
          </div>
        </div>
      </main>

      <div class="content">
        <!-- About  -->

        <section id="about" class="about section">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                درباره <span class="text-primary">کانی بوم</span>
              </h2>
              <strong class="fade-title-left">About</strong>
            </header>
            <div class="section-content">
              <div class="row-base row">
                <div class="col-base col-sm-12 col-md-4" style="float: right">
                  <div class="col-about-info">
                    <h3
                      class="col-about-title text-right"
                      style="direction: rtl"
                    >
                      <span
                        class="text-primary"
                        style="display: block; padding-bottom: 10px"
                      >
                        کانی بوم</span
                      >
                      شتابدهنده تخصصی حوزه معدن و صنایع معدنی
                    </h3>
                    <p
                      class="text-justify"
                      style="font-size: 14px; padding-left: 0px; direction: rtl"
                    >
                      سازندگاه کسب‌وکارهای نوآورانه کانی بوم، شتابدهنده تخصصی
                      معدن و صنایع معدنی است که فعالیت خود را از اردیبهشت ۱۴۰۰
                      آغاز کرده است. این شتابدهنده با هدف ایجاد زیرساخت
                      فعالیت‌های دانش‌بنیان معدنی، توسعه و ترويج نوآوری و هدایت،
                      حمایت و راهبری استارت‌آپ‌ها و کسب‌وکارهای نوآورانه در بخش
                      معدن و صنایع معدنی شکل گرفته است. تمرکز فعالیت این
                      شتابدهنده بر هوشمندسازی معادن و تکمیل زنجیره ارزش مواد
                      معدنی است و از راهکارهای فناورانه‌ای که در افزایش بهره‌وری
                      و ایمنی و کاهش هزینه‌ و زمان فعالیت‌های معدنکاری مؤثرند،
                      حمایت می‌کند.
                    </p>
                  </div>
                </div>
                <div
                  class="col-base col-sm-12 col-md-8"
                  style="direction: rtl; float: right; display: flex"
                >
                  <div
                    class="col-about-spec col-sm-12 col-md-6"
                    style="direction: rtl; float: right"
                  >
                    <div class="service-item text-center">
                      <img alt="" src="../img/img-icon/aboutus-01.png" />
                      <h4
                        class="text-center"
                        style="font-size: 14px; direction: rtl"
                      >
                        <span
                          class="text-primary"
                          style="display: block; font-size: 24px"
                          >۱۲۰ درخواست‌</span
                        >برای شرکت در برنامه شتابدهی
                      </h4>
                    </div>
                    <div class="service-item text-center">
                      <img alt="" src="../img/img-icon/aboutus-02.png" />
                      <h4
                        class="text-center"
                        style="font-size: 14px; direction: rtl"
                      >
                        <span
                          class="text-primary"
                          style="display: block; font-size: 24px"
                          >۲۶ استارت‌آپ‌</span
                        >پیش‌شتابدهی‌شده
                      </h4>
                    </div>
                    <div class="service-item text-center">
                      <img alt="" src="../img/img-icon/aboutus-03.png" />
                      <h4
                        class="text-center"
                        style="font-size: 14px; direction: rtl"
                      >
                        <span
                          class="text-primary"
                          style="display: block; font-size: 24px"
                          >۱۱ استارت‌آپ‌</span
                        >شتابدهی‌شده
                      </h4>
                    </div>
                  </div>
                  <div
                    class="col-about-spec col-sm-12 col-md-6"
                    style="direction: rtl; float: right"
                  >
                    <div class="service-item text-center">
                      <img alt="" src="../img/img-icon/aboutus-04.png" />
                      <h4
                        class="text-center"
                        style="font-size: 14px; direction: rtl"
                      >
                        <span
                          class="text-primary"
                          style="display: block; font-size: 24px"
                          >۳۶.۳ میلیاردتومان</span
                        >سرمایه تأمین‌شده برای استارت‌آپ‌ها
                      </h4>
                    </div>
                    <div class="service-item text-center">
                      <img alt="" src="../img/img-icon/aboutus-05.png" />
                      <h4
                        class="text-center"
                        style="font-size: 14px; direction: rtl"
                      >
                        <span
                          class="text-primary"
                          style="display: block; font-size: 24px"
                          >۱۳۰+ شغل</span
                        >در نتیجه حمایت از تیم‌های استارت‌آپی
                      </h4>
                    </div>
                    <div class="service-item text-center">
                      <img alt="" src="../img/img-icon/aboutus-06.png" />
                      <h4
                        class="text-center"
                        style="font-size: 14px; direction: rtl"
                      >
                        <span
                          class="text-primary"
                          style="display: block; font-size: 24px"
                          >۱۲۷۹۰ نفر ساعت</span
                        >آموزش و منتورينگ تیم‌های استارت‌آپی
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="section-content"
                style="text-align: center; margin-top: 4em"
              >
                <a href="about" class="btn btn-shadow-2"
                  >مطالعه بیشتر<i class="icon-next"></i
                ></a>
              </div>
            </div>
          </div>
        </section>

        <!-- Projects -->

        <!-- <section id="projects" class="projects section">
        <div class="container">
          <h2 class="section-title">پروژه های <span class="text-primary">خاکریسه</span></h2>
        </div>
        <div class="section-content">
          <div class="projects-carousel js-projects-carousel js-projects-gallery">
            <div class="project project-light">
              <a href="../img/projects/01.jpg" title="اجراى کارهاى ابنیه و تاسیسات طبقه p1 ایران مال">
                <figure>
                  <img alt="" src="../img/projects/01.jpg">
                  <figcaption>
                    <h3 class="project-title text-center" style="direction: rtl">
                      اجراى کارهاى ابنیه و تاسیسات طبقه p1 ایران مال
                    </h3>
                    <div class="project-zoom"></div>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="project">
              <a href="../img/projects/05.jpg" title="اجرا، تست و راه اندازي ادوات مربوط به نصب پکیج تصفیه پساب صنعتی">
                <figure>
                  <img alt="" src="../img/projects/05.jpg">
                  <figcaption>
                    <h3 class="project-title text-center">
                      اجرا، تست و راه اندازي ادوات مربوط به نصب پکیج تصفیه پساب صنعتی
                    </h3>
                    <div class="project-zoom"></div>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="project">
              <a href="../img/projects/03.jpg" title="پروژه اجراى عملیات ساختمانى و تاسیساتى سالن ورزشى چند منظوره 6000 نفرى شیراز">
                <figure>
                  <img alt="" src="../img/projects/03.jpg">
                  <figcaption>
                    <h3 class="project-title text-center">
                      پروژه اجراى عملیات ساختمانى و تاسیساتى سالن ورزشى چند منظوره 6000 نفرى شیراز
                    </h3>
                    <div class="project-zoom"></div>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="project">
              <a href="../img/projects/04.jpg" title="اجراى عملیات ابنیه، تاسیسات برقى و مکانیکى موتورخانه هاى سرمایش و گرمایش ایران مال">
                <figure>
                  <img alt="" src="../img/projects/04.jpg">
                  <figcaption>
                    <h3 class="project-title text-center">
                      اجراى عملیات ابنیه، تاسیسات برقى و مکانیکى موتورخانه هاى سرمایش و گرمایش ایران مال
                    </h3>
                    <div class="project-zoom"></div>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="project project-light">
              <a href="../img/projects/02.jpg" title="پروژه اجراى فونداسیون دیوار پیرامونى، سقف و اسکلت بتنى مجتمع تجارى فرهنگى ورزشى - ورامین">
                <figure>
                  <img alt="" src="../img/projects/02.jpg">
                  <figcaption>
                    <h3 class="project-title text-center">
                      پروژه اجراى فونداسیون دیوار پیرامونى، سقف و اسکلت بتنى مجتمع تجارى فرهنگى ورزشى - ورامین
                    </h3>
                    <div class="project-zoom"></div>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="project">
              <a href="../img/projects/06.jpg" title="عملیات خاکی و اجراي لوله گذاري 26 اینچ به طول 40 کیلومتر از 131 کیلومتر خط لوله 26 اینچ زیرزمینی از واحد بهره برداري اهواز 4 به بهمنشیر شمالی (آبادان)">
                <figure>
                  <img alt="" src="../img/projects/06.jpg">
                  <figcaption>
                    <h3 class="project-title text-center">
                      عملیات خاکی و اجراي لوله گذاري 26 اینچ به طول 40 کیلومتر از 131 کیلومتر خط لوله 26 اینچ زیرزمینی از واحد بهره برداري اهواز 4 به بهمنشیر شمالی (آبادان)
                    </h3>
                    <div class="project-zoom"></div>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="project">
              <a href="../img/projects/07.jpg" title="اجراي کلیه عملیات ساختمانی، تاًسیسات برقی و مکانیکی آپارتمان های مسکونی">
                <figure>
                  <img alt="" src="../img/projects/07.jpg">
                  <figcaption>
                    <h3 class="project-title text-center">
                      اجراي کلیه عملیات ساختمانی، تاًسیسات برقی و مکانیکی آپارتمان های مسکونی
                    </h3>
                    <div class="project-zoom"></div>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="project">
              <a href="../img/projects/08.jpg" title="انجام کارهاي ساختمانی و تاسیسات مکانیکی و الکتریکی پروژه اداري، درمانی قروه">
                <figure>
                  <img alt="" src="../img/projects/08.jpg">
                  <figcaption>
                    <h3 class="project-title text-center">
                      انجام کارهاي ساختمانی و تاسیسات مکانیکی و الکتریکی پروژه اداري، درمانی قروه
                    </h3>
                    <div class="project-zoom"></div>
                  </figcaption>
                </figure>
              </a>
            </div>
          </div>
        </div>
        <div class="section-content" style="text-align: center; margin-top: 4em">
          <a href="project" class="btn btn-shadow-2">مشاهده تمامی پروژه ها<i class="icon-next"></i></a>
        </div>
      </section> -->

        <!-- Services -->

        <!-- <section id="services" class="services section">
        <div class="container">
          <header class="section-header">
            <h2 class="section-title"><span class="text-primary">خدمات </span>خاکریسه</h2>
            <strong class="fade-title-left">services</strong>
          </header>
          <div class="section-content">
            <div class="row-services row-base row" style="direction: rtl">
              <div class="col-base col-service col-sm-6 col-md-6 wow fadeInUp" style="float: right; width: 50%; display: block;">
                <div class="service-item text-center">
                  <img alt="" src="../img/img-icon/icon-house-key.png">
                  <h4><a href="http://pendar.khakriseh.payasoft.net"> اتوماسیون اداری</a></h4>
                </div>
              </div>
              <div class="col-base col-service col-sm-6 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="float: right; width: 50%; display: block;">
                <div class="service-item text-center">
                  <img alt="" src="../img/img-icon/icon-house-plans.png">
                  <h4><a href="http://pendar.khakriseh.payasoft.net"> سیستم جامع انبار و حسابرسی پروژه ها</a></h4>
                </div>
              </div>
              <div class="clearfix visible-sm"></div>
            </div>
          </div>
        </div>
      </section> -->

        <!-- Experience -->

        <!-- <section class="experience section">
        <div class="container">
          <div class="text-parallax" data-stellar-background-ratio="0.85" style="background-image: url('img/bg/text-1.jpg');">
            <div class="text-parallax-content">25</div>
          </div>
          <h4 class="experience-info wow fadeInRight"><span class="text-primary">Years of successful work</span><br>سال تجربه موفق</h4>
        </div>
      </section> -->

        <!-- Clients  -->

        <!-- <section id="clients" class="clients section">
        <div class="container">
          <header class="section-header">
            <h2 class="section-title">همکاری های <span class="text-primary">خاکریسه</span></h2>
            <strong class="fade-title-left">clients</strong>
          </header>
          <div class="section-content">
            <ul class="clients-list">
              <li class="client">
                <a href="#"><img alt="" src="../img/logo/logo_01.png"></a>
              </li>
              <li class="client">
                <a href="#"><img alt="" src="../img/logo/logo_03.png"></a>
              </li>
              <li class="client">
                <a href="#"><img alt="" src="../img/logo/logo_02.png"></a>
              </li>
              <li class="client">
                <a href="#"><img alt="" src="../img/logo/logo_04.png"></a>
              </li>
              <li class="client">
                <a href="#"><img alt="" src="../img/logo/logo_05.png"></a>
              </li>
            </ul>
          </div>
        </div>
      </section> -->

        <!-- Portfo -->

        <section id="objects" class="objects section">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                پورتفو<span class="text-primary"> کانی بوم</span>
              </h2>
              <strong class="fade-title-left hidden-xs">Portfo</strong>
            </header>
            <div class="section-content">
              <img src="../img/portfo.png" style="width: 100%" />
            </div>
          </div>
        </section>

        <!-- Objects -->

        <section id="objects" class="objects section">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                آدرس<span class="text-primary"> کانی بوم</span>
              </h2>
              <strong class="fade-title-left hidden-xs">Location</strong>
            </header>
            <div class="section-content">
              <div class="objects">
                <img alt="" class="img-responsive" src="../img/map.png" />

                <!-- Objects -->

                <!-- <div class="object-label" style="left: 43.7%; top: 30.1%">
                  <div class="object-info in">
                    <h3 class="object-title text-center">کانی بوم</h3>
                    <p
                      class="object-content text-center"
                      style="direction: rtl"
                    >
                      <i class="fa fa-map-marker text-primary"></i> تهران،
                      آجودانیه، خیابان صمیع
                    </p>
                  </div>
                </div> -->

                <div class="object-label" style="left: 45.7%; top: 31.1%">
                  <div class="object-info">
                    <h3 class="object-title text-center">کانی بوم</h3>
                    <p
                      class="object-content text-center"
                      style="direction: rtl"
                    >
                      <i class="fa fa-map-marker text-primary"></i> تهران،
                      پردیس، پارک فناوری پردیس، فضای کار اشتراکی کوآپ
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Contacts -->

        <section id="contacts" class="contacts section">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                تماس با <span class="text-primary">کانی بوم</span>
              </h2>
              <strong class="fade-title-left">Contacts</strong>
            </header>
            <div class="section-content">
              <div class="row-base row">
                <p
                  class="col-address col-base col-md-4 col-sm-12 col-xs-12 text-justify"
                  style="float: right; direction: rtl"
                >
                  <!-- <i class="fa fa-map-marker text-primary"></i>
                  آدرس: تهران، خیابان شهید بهشتی، خیابان داریوش، پلاک۷<br />
                  <i class="fa fa-phone text-primary"></i> تلفن: ۷۱۰۵۷۸۷۹-۰۲۱ -->
                  <br />
                  <i class="fa fa-envelope text-primary"></i> ایمیل:
                  info@kaniboom.ir<br />
                  <i class="fa fa-instagram text-primary"></i> اینستاگرام:
                  kaniboom.ir<br />
                  <i class="fa fa-linkedin text-primary"></i> لینکدین: kaniboom
                </p>
                <div
                  class="col-base col-md-8 col-sm-12 col-xs-12"
                  style="float: right; direction: rtl"
                >
                  <form class="contact-form">
                    <div class="row-field row">
                      <div
                        class="col-field col-md-4 col-sm-6 col-xs-6"
                        style="float: right"
                      >
                        <div class="form-group">
                          <input
                            name="name"
                            type="text"
                            class="form-control"
                            name="name"
                            placeholder="نام و نام خانوادگی"
                          />
                        </div>
                        <div class="form-group">
                          <input
                            type="email"
                            class="form-control"
                            name="email"
                            required
                            placeholder="ایمیل *"
                          />
                        </div>
                      </div>
                      <div
                        class="col-field col-md-4 col-sm-6 col-xs-6"
                        style="float: right"
                      >
                        <div class="form-group">
                          <input
                            type="tel"
                            class="form-control"
                            name="phone"
                            placeholder="شماره تلفن"
                            pattern="09\d{9}"
                          />
                        </div>
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            name="company"
                            placeholder="شرکت"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-field col-xs-12 col-md-8"
                        style="float: right"
                      >
                        <textarea
                          class="form-control"
                          name="message"
                          placeholder="متن پیام *"
                          required
                        ></textarea>
                      </div>
                    </div>

                    <div class="col-field col-sm-12">
                      <div class="form-group">
                        <div class="fulfilled"></div>
                        <div class="rejected"></div>
                      </div>
                    </div>

                    <div class="form-submit text-right">
                      <button type="submit" class="btn btn-shadow-2 wow swing">
                        ارسال
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Footer -->

        <footer id="footer" class="footer">
          <div class="container">
            <div class="row-base row">
              <div class="col-base text-left-md col-md-4">
                <a href="#" class="brand">
                  <img src="../img/logo/logo_kaniboom.png" />
                </a>
              </div>
              <div class="text-center-md col-base col-md-4">
                <a href="tel:09387536548" class="author-link">
                  طراحی وب سایت توسط کانی بوم
                </a>
              </div>
              <div
                class="text-right-md col-base col-md-4"
                style="direction: rtl"
              >
                © کلیه حقوق وب سایت متعلق به سازندگاه کسب‌وکارهای نوآورانه کانی
                بوم می باشد.
              </div>
            </div>
          </div>
        </footer>

        <!-- Lines -->

        <div class="page-lines">
          <div class="container">
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SCRIPTS -->

    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/smoothscroll.js"></script>
    <script src="../js/jquery.validate.min.js"></script>
    <script src="../js/wow.min.js"></script>
    <script src="../js/jquery.stellar.min.js"></script>
    <script src="../js/jquery.magnific-popup.js"></script>
    <script src="../js/owl.carousel.min.js"></script>

    <!-- SLIDER REVOLUTION -->
    <script src="../js/rev-slider/jquery.themepunch.tools.min.js"></script>
    <script src="../js/rev-slider/jquery.themepunch.revolution.min.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS   -->
    <script src="../js/rev-slider/revolution.extension.actions.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.carousel.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.kenburn.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.layeranimation.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.migration.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.navigation.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.parallax.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.slideanims.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.video.min.js"></script>
    <script src="../js/interface.js"></script>
    <script>
      const form = document.querySelector(".contact-form");
      form.onsubmit = (e) => {
        e.preventDefault();
        //submitForm function in interface.js
        submitForm(form, "contact", "main-page");
      };
    </script>
  </body>
</html>
