<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="نمایشگاه اختصاصی صنعت معدن پارک فناوری پردیس"
    />
    <meta name="keywords" content="کانی بوم, شتابدهنده, سازندگاه, معدن" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      سازندگاه کسب و کارهای نوآورانه کانی بوم | نمایشگاه اختصاصی صنعت معدن
    </title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="../img/logo/logo_kaniboom_ficon.jpg" />
    <link rel="apple-touch-icon" href="../img/logo/logo_kaniboom_ficon.jpg" />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="../img/logo/logo_kaniboom_ficon.jpg"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="../img/logo/logo_kaniboom_ficon.jpg"
    />

    <!-- Styles -->
    <link href="../css/style.css" rel="stylesheet" media="screen" />
  </head>
  <body>
    <!-- Loader -->
    <div class="loader">
      <div class="page-lines">
        <div class="container">
          <div class="col-line col-xs-4">
            <div class="line"></div>
          </div>
          <div class="col-line col-xs-4">
            <div class="line"></div>
          </div>
          <div class="col-line col-xs-4">
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
      </div>
      <div class="loader-brand">
        <div class="sk-folding-cube">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
        </div>
      </div>
    </div>

    <!-- Header -->
    <header id="top" class="header-inner">
      <div class="brand-panel" style="background: none">
        <a href="#top" class="brand js-target-scroll hidden-xs hidden-sm">
          <img src="../img/logo/logo_kaniboom.png" />
        </a>
        <a href="#top" class="brand js-target-scroll hidden-md hidden-lg">
          <img src="../img/logo/logo_kaniboom.png" />
        </a>
      </div>

      <nav class="navbar-desctop visible-md visible-lg">
        <div class="container">
          <a href="#top" class="brand js-target-scroll">
            <img src="../img/logo/logo_kaniboom.png" />
          </a>
          <ul class="nav navbar-desctop-menu">
            <li>
              <a href="/">صفحه اصلی</a>
            </li>
            <li>
              <a href="/about">درباره ما</a>
            </li>
            <li>
              <a href="/events">رویدادها</a>
            </li>
            <li>
              <a href="#">کانی بوم آکادمی</a>
              <ul>
                <li>
                  <a href="/kanicamp">کانی‌کمپ</a>
                </li>
                <li>
                  <a href="/boomcamp">بوم‌کمپ</a>
                </li>
                <!-- <li>
                  <a href="/">کانی کورس</a>
                </li>
                <li>
                  <a href="/kaniamoz">کانی آموز</a>
                </li> -->
              </ul>
            </li>
            <li class="active">
              <a href="/news">اخبار</a>
            </li>
            <li>
              <a href="/register">ارسال طرح و ایده</a>
            </li>
            <!-- <li>
              <a href="/">تماس با ما</a>
            </li> -->
          </ul>
        </div>
      </nav>

      <!-- Navigation Mobile -->

      <nav class="nav navbar-mobile">
        <a href="#top" class="brand js-target-scroll">
          <img src="../img/logo/logo_kaniboom.png" />
        </a>

        <!-- Navbar Collapse -->

        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#navbar-mobile"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-mobile">
          <ul class="navbar-nav-mobile">
            <li>
              <a href="/">صفحه اصلی</a>
            </li>
            <li>
              <a href="/about">درباره ما</a>
            </li>
            <li>
              <a href="/events">رویدادها</a>
            </li>
            <li>
              <a href="#">کانی بوم آکادمی</a>
              <ul>
                <li>
                  <a href="/kanicamp">کانی‌کمپ</a>
                </li>
                <li>
                  <a href="/boomcamp">بوم‌کمپ</a>
                </li>
                <!-- <li>
                  <a href="/">کانی کورس</a>
                </li>
                <li>
                  <a href="/kaniamoz">کانی آموز</a>
                </li> -->
              </ul>
            </li>
            <li class="active">
              <a href="/news">اخبار</a>
            </li>
            <li>
              <a href="/register">ارسال طرح و ایده</a>
            </li>
            <!-- <li>
              <a href="/">تماس با ما</a>
            </li> -->
          </ul>
        </div>
      </nav>
    </header>

    <!-- Layout -->

    <div class="layout">
      <main
        class="main main-inner bg-innovations"
        data-stellar-background-ratio="0.6"
        style="
          background-position: 50% 0px;
          background: url(../img/sadaf/sadaf-bg.jpg) 50% 0 no-repeat;
          background-size: cover;
        "
      >
        <div class="container">
          <header class="main-header text-center">
            <!-- <img
              src="../img/logo/logo_kanicamp.png"
              style="width: 150px; margin-bottom: 30px"
            /> -->
            <br />
            <h2 style="line-height: 1.5em; font-size: 1.6em">
              بازدید مدیران گروه سرمایه‌گذاری امید از دستاوردهای فناورانه
              شرکت‌های پارک فناوری پردیس در حوزه
              <span
                class="text-primary"
                style="display: inline-block; padding-bottom: 20px"
              >
                معدن و صنایع معدنی
              </span>
              پارک فناوری پردیس
            </h2>
          </header>
        </div>
        <br /><br /><br />

        <div class="page-lines">
          <div class="container">
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </main>
      <div class="content">
        <section id="about" class="about">
          <div class="container">
            <div class="entry">
              <p class="entry-text text-justify" style="line-height: normal">
                نمایشگاه اختصاصی صنعت معدن به منظور ارائه دستاوردهای ۳۵ شرکت
                فناور و دانش‌ بنیان در حوزه معدن و صنایع معدنی توسط اداره‌کل
                سرمایه‌گذاری و بومی‌سازی پارک فناوری پردیس با همکاری شرکت کانی
                ‌بوم به عنوان حلقه واسط صنعت و زیست بوم فناوری و نوآوری برگزار
                شد. همچنین در بازدید مدیران گروه سرمایه‌گذاری امید از پارک
                فناوری پردیس، کارگروهی مشترک برای تعریف پروژه‌های بومی‌سازی و
                سرمایه‌گذاری دانش‌بنیان بین شرکت‌های عضو گروه سرمایه‌گذاری امید
                و پارک فناوری پردیس ایجاد گردید.
                <br /><br />
                به گزارش روابط عمومی منطقه بین‌المللی نوآوری ایران، جمعی از
                مدیران گروه سرمایه‌گذاری امید با حضور در پارک فناوری پردیس از
                نزدیک در جریان دستاوردهای شرکت‌های عضو پارک در حوزه معدن و صنایع
                معدنی قرار گرفتند. در این بازدید، مهدی صفاری‌نیا رییس پارک
                فناوری پردیس با اشاره به فعالیت‌های این پارک در ۲۲ سال گذشته،
                اولویت پارک را ایجاد زیرساخت و محیط مناسب برای کسب‌وکارهای دانش
                ‌بنیان برشمرد. وی افزود: پارک فناوری پردیس با ایجاد زنجیره کاملی
                از استعدادیابی در دانشگاه، تیم‌سازی در قالب شتابدهنده‌ها، پذیرش
                استارتاپ‌ها در مرکز رشد و تاسیس شرکت‌های بزرگ، ارتباط بین صنعت و
                دانشگاه را محقق ساخته است.
                <br /><br />
                رییس پارک فناوری پردیس از برنامه‌های مختلف پارک برای کمک به رفع
                نیازهای فناورانه صنایع خبر داد و گفت: پارک فناوری پردیس به عنوان
                تنها پارک فناوری زیرمجموعه معاونت علمی ریاست جمهوری، مزایای
                مختلفی را برای شرکت‌های عضو مهیا کرده است.
                <br />
                وی از تصویب ارتقای پارک فناوری پردیس به منطقه بین‌المللی نوآوری
                ایران خبر داد و گفت: مطابق این مصوبه، مزایای قانونی مختلفی در
                اختیار شرکت‌ها و فناوران عضو منطقه و پارک قرار خواهد گرفت.
                <br />
                صفاری‌نیا از آمادگی پارک فناوری پردیس برای ایجاد کارگروهی برای
                همکاری بین دو مجموعه خبر داد و گفت: این کارگروه برای تسهیل تعریف
                پروژه‌های بومی‌سازی فناوری بین شرکت‌های عضو پارک و شرکت‌های عضو
                سرمایه‌گذاری امید تشکیل می‌گردد.
              </p>
            </div>
          </div>
        </section>
        <br /><br /><br />
        <section id="services" class="section courses">
          <div class="container">
            <header class="section-header">
              <h2 style="text-align: end">
                <span class="text-primary">لزوم توسعه نرم در صنایع بزرگ</span>
              </h2>
            </header>
            <div class="col-base bootcamp-item text-center">
              <p class="text-justify" style="direction: rtl; line-height: 35px">
                ابوذر سروش مدیرعامل شرکت سرمایه‌گذاری امید نیز در این بازدید، با
                اشاره به موفقیت‌های پارک فناوری پردیس در رفع نیازهای صنایع گفت:
                شرکت سرمایه‌گذاری امید با داشتن زیرمجموعه‌های مختلف در صنایع
                نیروگاهی، معدن، آهن و فولاد، لاستیک، نفت و گاز، سیمان و ساختمان
                پذیرای شرکت‌های عضو پارک است.
                <br />
                وی افزود: تجربه پارک فناوری پردیس نشان می‌دهد که صنایع بزرگ باید
                به سمت توسعه نرم رفته و به فضای فناوری و دانش‌بنیانی ورود کنند.
                این ورود می‌تواند در ورود مستقیم به این حوزه یا سرمایه‌گذاری در
                شرکت‌های دانش‌بنیان صورت گیرد.
                <br />
                سروش همچنین از شرکت‌های عضو شرکت سرمایه‌گذاری امید خواست تا با
                همکاری شرکت‌های عضو پارک فناوری پردیس نیازهای فناورانه خود را
                تامین کنند.
                <br />
                وی تشکیل کارگروه همکاری پارک و شرکت سرمایه‌گذاری امید را اقدامی
                رو به جلو برشمرد و گفت: این کارگروه می‌تواند ارتباط بین شرکت‌های
                عضو و پارک فناوری پردیس را تقویت کند.
                <br />
                بررسی ظرفیت‌های قانون جهش تولید دانش‌بنیان در حوزه اعتبار
                مالیاتی ایمان اعیانی مدیرکل ارزیابی شرکت‌های دانش‌بنیان معاونت
                علمی، فناوری و اقتصاد دانش‌بنیان ریاست جمهوری نیز در این نشست با
                اشاره به تصویب قانون جهش تولید دانش‌بنیان گفت: یکی از بخش‌های
                این قانون، اعتبار مالیاتی تحقیق و توسعه است که شرکت‌های
                سرمایه‌گذاری می‌توانند با استفاده از این بند قانونی، به
                سرمایه‌گذاری در شرکت‌های دانش‌بنیان اقدام کنند.
              </p>
            </div>
          </div>
          <br />
        </section>
        <section id="services" class="section courses">
          <div class="container">
            <header class="section-header">
              <h2 style="text-align: end">
                <span class="text-primary"
                  >بازدید از نمایشگاه دستاوردهای شرکت‌های عضو پارک فناوری پردیس
                  در حوزه معدن و صنایع معدنی</span
                >
              </h2>
            </header>
            <div class="col-base bootcamp-item text-center">
              <p class="text-justify" style="direction: rtl; line-height: 35px">
                با نقش آفرینی سازندگاه کانی بوم به عنوان کارگزار صنعت معدن پارک
                فناوری پردیس، دستاوردهای ۳۵ شرکت فناور و دانش‌بنیان در حوزه معدن
                به نمایش در آمد. در این بازدید بیش از ۷۰ نفر از مدیران شرکت
                سرمایه‌گذاری امید و مدیران شرکت‌های گهر زمین، گل‌گهر، چادرملو،
                کویرتایر، آسیانما، پتروامید آسیا، سرمایه‌گذاری سپه، امید تابان
                هور، سیمان هرمزگان و بهین سازان امیدآفرین در این بازدید حضور
                داشتند.
                <br />
                برگزاری جلسات گفتگوی B2B دیگر برنامه این بازدید بود.
                <br />
                شتابدهنده کانی بوم به عنوان پل ارتباطی شرکت های معدنی و حوزه
                دانش بنیان در صدد است با همرسانی و جریان سازی ارتباط میان صنعت
                معدن و اکوسیستم فناوری و نوآوری کشور، زمینه ساز رفع گلوگاه‌ های
                صنعت معدن با استفاده از دانش روز و فناوری های نوین شود.
              </p>
            </div>
          </div>
          <br />
        </section>

        <section style="margin: 8em 0">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">تصاویر</h2>
              <strong class="fade-title-left">Pictures</strong>
            </header>
            <br /><br />
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <img
                  width="100% "
                  src="../img/news/IMG_6539.jpeg"
                  alt="kanicamp"
                  style="
                    opacity: 1;
                    border: 3px #f06221 solid;
                    border-radius: 15px;
                    margin: 10px 0;
                  "
                />
              </div>
              <div class="col-sm-12 col-md-6">
                <img
                  width="100%"
                  src="../img/news/IMG_6308.jpeg"
                  alt="kanicamp"
                  style="
                    opacity: 1;
                    border: 3px #f06221 solid;
                    border-radius: 15px;
                    margin: 10px 0;
                  "
                />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <img
                  width="100% "
                  src="../img/news/IMG_6508.jpeg"
                  alt="kanicamp"
                  style="
                    opacity: 1;
                    border: 3px #f06221 solid;
                    border-radius: 15px;
                    margin: 10px 0;
                  "
                />
              </div>
              <div class="col-sm-12 col-md-6">
                <img
                  width="100%"
                  src="../img/news/IMG_6519.jpeg"
                  alt="kanicamp"
                  style="
                    opacity: 1;
                    border: 3px #f06221 solid;
                    border-radius: 15px;
                    margin: 10px 0;
                  "
                />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <img
                  width="100% "
                  src="../img/news/IMG_6528.jpeg"
                  alt="kanicamp"
                  style="
                    opacity: 1;
                    border: 3px #f06221 solid;
                    border-radius: 15px;
                    margin: 10px 0;
                  "
                />
              </div>
              <div class="col-sm-12 col-md-6">
                <img
                  width="100%"
                  src="../img/news/IMG_6536.jpeg"
                  alt="kanicamp"
                  style="
                    opacity: 1;
                    border: 3px #f06221 solid;
                    border-radius: 15px;
                    margin: 10px 0;
                  "
                />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <img
                  width="100%"
                  src="../img/news/IMG_6297.jpeg"
                  alt="kanicamp"
                  style="
                    opacity: 1;
                    border: 3px #f06221 solid;
                    border-radius: 15px;
                    margin: 10px 0;
                  "
                />
              </div>
            </div>
          </div>
        </section>

        <!-- Footer -->

        <footer id="footer" class="footer">
          <div class="container">
            <div class="row-base row">
              <div class="col-base text-left-md col-md-4">
                <a href="#" class="brand">
                  <img src="../img/logo/logo_kaniboom.png" />
                </a>
              </div>
              <div class="text-center-md col-base col-md-4">
                <a href="tel:09387536548" class="author-link">
                  طراحی وب سایت توسط کانی بوم
                </a>
              </div>
              <div
                class="text-right-md col-base col-md-4"
                style="direction: rtl"
              >
                © کلیه حقوق وب سایت متعلق به سازندگاه کسب‌وکارهای نوآورانه کانی
                بوم می باشد.
              </div>
            </div>
          </div>
        </footer>

        <div class="page-lines">
          <div class="container">
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SCRIPTS -->

    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/smoothscroll.js"></script>
    <script src="../js/jquery.validate.min.js"></script>
    <script src="../js/wow.min.js"></script>
    <script src="../js/jquery.stellar.min.js"></script>
    <script src="../js/jquery.magnific-popup.js"></script>
    <script src="../js/owl.carousel.min.js"></script>

    <!-- SLIDER REVOLUTION -->
    <script src="../js/rev-slider/jquery.themepunch.tools.min.js"></script>
    <script src="../js/rev-slider/jquery.themepunch.revolution.min.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS   -->
    <script src="../js/rev-slider/revolution.extension.actions.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.carousel.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.kenburn.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.layeranimation.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.migration.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.navigation.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.parallax.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.slideanims.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.video.min.js"></script>
    <script src="../js/interface.js"></script>
  </body>
</html>
