<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="کانی‌بوم، شتابدهنده تخصصی معدن و صنایع معدنی است که با هدفتوسعه و ترويج نوآوری،  ایجاد زیرساخت‌های فناورانه  و حمایت از کسب‌وکارهای نوپا در بخش معدن و صنایع معدنی شکل گرفته است. تمرکز فعالیت این شتابدهنده بر تکمیل زنجیره ارزش مواد معدنی و هوشمندسازی معادن است."
    />
    <meta name="keywords" content="کانی‌بوم, شتابدهنده, سازندگاه, معدن" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>سازندگاه کسب و کارهای نوآورانه کانی‌بوم | ارسال طرح و ایده</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="../img/logo/logo_kaniboom_ficon.jpg" />
    <link rel="apple-touch-icon" href="../img/logo/logo_kaniboom_ficon.jpg" />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="../img/logo/logo_kaniboom_ficon.jpg"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="../img/logo/logo_kaniboom_ficon.jpg"
    />

    <!-- Styles -->
    <link href="../css/style.css" rel="stylesheet" media="screen" />
  </head>
  <body>
    <!-- Loader -->
    <div class="loader">
      <div class="page-lines">
        <div class="container">
          <div class="col-line col-xs-4">
            <div class="line"></div>
          </div>
          <div class="col-line col-xs-4">
            <div class="line"></div>
          </div>
          <div class="col-line col-xs-4">
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
      </div>
      <div class="loader-brand">
        <div class="sk-folding-cube">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
        </div>
      </div>
    </div>

    <!-- Header -->
    <header id="top" class="header-inner">
      <div class="brand-panel" style="background: none">
        <a href="#top" class="brand js-target-scroll hidden-xs hidden-sm">
          <img src="../img/logo/logo_kaniboom.png" />
        </a>
        <a href="#top" class="brand js-target-scroll hidden-md hidden-lg">
          <img src="../img/logo/logo_kaniboom.png" />
        </a>
      </div>

      <nav class="navbar-desctop visible-md visible-lg">
        <div class="container">
          <a href="#top" class="brand js-target-scroll">
            <img src="../img/logo/logo_kaniboom.png" />
          </a>
          <ul class="nav navbar-desctop-menu">
            <li>
              <a href="/">صفحه اصلی</a>
            </li>
            <li>
              <a href="about">درباره ما</a>
            </li>
            <li>
              <a href="/">رویدادها</a>
              <ul>
                <li>
                  <a href="/">کانی‌شو</a>
                </li>
                <li>
                  <a href="/">بومیت</a>
                </li>
                <li>
                  <a href="/">اینوتکس</a>
                </li>
                <li>
                  <a href="/">ریتکس</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="kanicamp">کانی‌بوم آکادمی</a>
              <ul>
                <li>
                  <a href="kanicamp">کانی‌کمپ</a>
                </li>
                <li>
                  <a href="boomcamp">بوم‌کمپ</a>
                </li>
                <li>
                  <a href="/">کانی کورس</a>
                </li>
                <li>
                  <a href="kaniamoz">کانی آموز</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/">استارت‌آپ‌ها</a>
            </li>
            <li class="active">
              <a href="register">ارسال طرح و ایده</a>
            </li>
            <li>
              <a href="/">تماس با ما</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Navigation Mobile -->

      <nav class="nav navbar-mobile">
        <a href="#top" class="brand js-target-scroll">
          <img src="../img/logo/logo_kaniboom.png" />
        </a>

        <!-- Navbar Collapse -->

        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#navbar-mobile"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-mobile">
          <ul class="navbar-nav-mobile">
            <li>
              <a href="/">صفحه اصلی</a>
            </li>
            <li>
              <a href="about">درباره ما</a>
            </li>
            <li>
              <a href="/">رویدادها</a>
              <ul>
                <li>
                  <a href="/">کانی‌شو</a>
                </li>
                <li>
                  <a href="/">بومیت</a>
                </li>
                <li>
                  <a href="/">اینوتکس</a>
                </li>
                <li>
                  <a href="/">ریتکس</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="kanicamp">کانی‌بوم آکادمی</a>
              <ul>
                <li>
                  <a href="kanicamp">کانی‌کمپ</a>
                </li>
                <li>
                  <a href="boomcamp">بوم‌کمپ</a>
                </li>
                <li>
                  <a href="/">کانی کورس</a>
                </li>
                <li>
                  <a href="kaniamoz">کانی آموز</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/">استارت‌آپ‌ها</a>
            </li>
            <li class="active">
              <a href="register">ارسال طرح و ایده</a>
            </li>
            <li>
              <a href="/">تماس با ما</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Layout -->

    <div class="layout">
      <main
        class="main main-inner bg-register"
        data-stellar-background-ratio="0.6"
        style="background-position: 50% 0px"
      >
        <div class="container">
          <header class="main-header text-center">
            <h1>
              فراخوان جذب طرح‌‌های <span class="text-primary">نوآورانه </span
              ><br />در حوزه معدن و صنایع معدنی
            </h1>
            <h3>
              مهلت ارسال طرح: <span class="text-primary">۳۱ خرداد ۱۴۰۲ </span
              ><br />
            </h3>
          </header>
        </div>

        <div class="page-lines">
          <div class="container">
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </main>
      <div class="content">
        <section id="about" class="about">
          <div class="container">
            <div class="entry">
              <div class="col-md-12">
                <p class="entry-text text-justify">
                  برنامه شتابدهی کانی‌بوم با هدف جذب، پرورش و تقویت استارت‌آپ‌ها
                  و نیز کمک به تجاری‌سازی محصولات دانش‌بنیان و توسعه کسب‌وکارهای
                  نوپا در حوزه معدن و صنایع معدنی تعریف شده است. همچنین صاحبان
                  طرح‌های نوآورانه و ایده‌های ارزش‌آفرین که رفع نیازهای
                  شناسایی‌شده در صنعت را هدف قرار داده‌اند، می‌توانند طرح‌های
                  خود را ارسال کنند. طرح‌ها و تیم‌های پذیرفته‌شده در شتابدهنده
                  می‌توانند با بهره‌گیری از امکاناتی نظیر سرمایه پیش‌بذری و
                  بذری، آموزش‌های تخصصی، مشاوره‌ و منتورینگ، زیرساخت‌های اداری و
                  کارگاهی و ارتباط با شبکه فعالان بخش معدن کشور، از این برنامه
                  به عنوان بستری برای توسعه فناوری، رشد کسب‌وکار یا تجاری‌سازی
                  طرح خود استفاده کنند.
                </p>
              </div>
            </div>
          </div>
        </section>

        <section class="about section">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                <span class="text-primary">محورها و مزایا</span>
              </h2>
              <strong class="fade-title-left">Topics</strong>
            </header>

            <div class="section-content col-md-6">
              <p class="entry-text text-justify">
                <span class="text-primary">۱. </span>تأمین سرمایه پیش‌بذری و
                بذری تا سقف ۳۰ میلیارد ریال
                <br />
                <span class="text-primary">۲. </span>فراهم‌سازی زیرساخت
                فعالیت‌های اداری، آزمایشگاهی و کارگاهی
                <br />
                <span class="text-primary">۳. </span>آموزش و توانمندسازی از طریق
                شبکه مربیان و متخصصان حوزه معدن
                <br />
                <span class="text-primary">۴. </span>کمک به تجاری‌سازی و توسعه
                بازار استارت‌آپ‌ها و شرکت‌های دانش‌بنیان
              </p>
            </div>

            <div class="section-content col-md-6">
              <p class="entry-text text-justify">
                <span class="text-primary">۱. </span>ساخت ماشین‌آلات و تجهیزات
                پیشرفته
                <br />
                <span class="text-primary">۲. </span>توسعه روش‌ها و بهبود
                فرآیندهای معدنکاری
                <br />
                <span class="text-primary">۳. </span>تولید مواد پیشرفته و
                فرآورده‌های معدنی با ارزش افزوده بالا
                <br />
                <span class="text-primary">۴. </span>معدنکاری سبز و راهکارهای
                بهینه‌سازی مصرف آب و انرژی
              </p>
            </div>
          </div>
        </section>

        <section id="objects" class="objects section">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                برنامه<span class="text-primary"> شتابدهی</span>
              </h2>
              <strong class="fade-title-left hidden-xs">Program</strong>
            </header>
            <div class="section-content">
              <img src="../img/register.png" style="width: 100%" />
            </div>
          </div>
        </section>

        <section id="objects" class="objects section">
          <div class="container">
            <header class="section-header">
              <h2 class="section-title">
                ثبت‌نام در برنامه<span class="text-primary"> شتابدهی</span>
              </h2>
              <strong class="fade-title-left hidden-xs">Register</strong>
            </header>
            <br />
            <br />
            <form class="plan-form" dir="rtl">
              <div class="row-field row">
                <div class="col-field col-sm-12 col-md-4">
                  <div class="form-group plan-form-field">
                    <label for="members">تعداد اعضای تیم</label>
                    <input
                      type="number"
                      class="form-control"
                      name="members"
                      id="members"
                      autocomplete="off"
                    />
                  </div>
                  <div class="form-group plan-form-field">
                    <label for="city">شهر محل فعالیت</label>
                    <input
                      type="text"
                      class="form-control"
                      name="city"
                      id="city"
                    />
                  </div>
                  <div class="form-group plan-form-field">
                    <label for="status" class="req"
                      >وضعیت طرح / بلوغ فناوری</label
                    >
                    <select
                      name="status"
                      id="status"
                      type="text"
                      class="form-control"
                      required
                    >
                      <option hidden value="">انتخاب کنید</option>
                      <option value="طرح توجیحی - TRL3">
                        طرح توجیحی - TRL3
                      </option>
                      <option value="نمونه اولیه (دارای MVP) - TRL4">
                        نمونه اولیه (دارای MVP) - TRL4
                      </option>
                      <option value="TRL5 به بالا">TRL5 به بالا</option>
                    </select>
                  </div>
                  <div class="form-group plan-form-field">
                    <label for="file" class="req">ارسال طرح / پیچ دک</label>
                    <input
                      type="file"
                      class="form-control"
                      name="file"
                      id="file"
                      required
                    />
                  </div>
                </div>

                <div class="col-field col-sm-12 col-md-4">
                  <div class="form-group plan-form-field">
                    <label for="team">نام تیم / شرکت</label>
                    <input
                      type="text"
                      class="form-control"
                      name="team"
                      id="team"
                      autocomplete="off"
                    />
                  </div>
                  <div class="form-group plan-form-field">
                    <label for="email" class="req">ایمیل</label>
                    <input
                      type="text"
                      class="form-control"
                      name="email"
                      id="email"
                      required
                    />
                  </div>
                  <div class="form-group plan-form-field">
                    <label for="subject" class="req">موضوع محوری</label>

                    <select
                      type="text"
                      class="form-control"
                      name="subject"
                      id="subject"
                      required
                    >
                      <option hidden value="">انتخاب کنید</option>

                      <option value="ساخت ماشین آلات و تجهیزات پیشرفته">
                        ساخت ماشین آلات و تجهیزات پیشرفته
                      </option>
                      <option value="توسعه روش ها و بهبود فرآیند های معدنکاری">
                        توسعه روش ها و بهبود فرآیند های معدنکاری
                      </option>
                      <option
                        value="تولید مواد پیشرفته و فرآورده های معدنی با ارزش فزوده
                      بالا"
                      >
                        تولید مواد پیشرفته و فرآورده های معدنی با ارزش فزوده
                        بالا
                      </option>
                      <option
                        value="معدنکاری سبز و راهکار های بهینه سازی مصرف آب و انرژی"
                      >
                        معدنکاری سبز و راهکار های بهینه سازی مصرف آب و انرژی
                      </option>
                      <option value="etc">سایر</option>
                    </select>
                  </div>
                  <div class="form-group plan-form-field">
                    <label for="معرفی مختصر طرح / محصول" class="req"
                      >معرفی مختصر طرح / محصول</label
                    >

                    <textarea
                      class="form-control"
                      name="introduction"
                      id="introduction"
                      required
                      autocomplete="off"
                    ></textarea>
                  </div>
                </div>

                <div class="col-field col-sm-12 col-md-4">
                  <div class="form-group plan-form-field">
                    <label for="name" class="req">نام و نام خانوادگی</label>
                    <input
                      type="text"
                      class="form-control"
                      name="name"
                      id="name"
                      required
                      pattern="[\u0600-\u06FF\s]+"
                    />
                  </div>
                  <div class="form-group plan-form-field">
                    <label for="phone" class="req">شماره موبایل</label>
                    <input
                      type="text"
                      class="form-control"
                      name="phone"
                      id="phone"
                      required
                      pattern="09\d{9}"
                    />
                  </div>
                  <div class="form-group plan-form-field">
                    <label for="planPosition" class="req"
                      >جایگاه طرح در زنجیره ارزش معدنکاری</label
                    >
                    <select
                      type="text"
                      class="form-control"
                      name="planPosition"
                      id="planPosition"
                      required
                    >
                      <option hidden value="">انتخاب کنید</option>
                      <option value="زمین شناسی و اکتشاف">زمین شناسی و اکتشاف</option>
                      <option value="استخراج و بهره برداری">استخراج و بهره برداری</option>
                      <option value="فرآوری مواد معدنی">فرآوری مواد معدنی</option>
                      <option value="صنایع پایین دستی">صنایع پایین دستی</option>
                      <option value="پشتیبانی و HSE">پشتیبانی و HSE</option>
                    </select>
                  </div>
                  <div class="form-group plan-form-field">
                    <label for="title" class="req">عنوان طرح / محصول</label>
                    <input
                      type="text"
                      class="form-control"
                      name="title"
                      id="title"
                      required
                      autocomplete="off"
                    />
                  </div>
                </div>

                <div class="col-field col-sm-12" style="float: right">
                  <div class="form-group plan-form-field">
                    <div class="fulfilled"></div>
                    <div class="rejected"></div>
                  </div>
                </div>
              </div>
              <div class="form-submit text-right">
                <button type="submit" class="btn btn-shadow-2 wow swing">
                  ارسال
                </button>
              </div>
            </form>

            <!--END-->
          </div>
        </section>

        <!-- Footer -->

        <footer id="footer" class="footer">
          <div class="container">
            <div class="row-base row">
              <div class="col-base text-left-md col-md-4">
                <a href="#" class="brand"> </a>
              </div>
              <div class="text-center-md col-base col-md-4">
                <a href="tel:09387536548" class="author-link">
                  طراحی وب سایت توسط کانی‌بوم
                </a>
              </div>
              <div
                class="text-right-md col-base col-md-4"
                style="direction: rtl"
              >
                © کلیه حقوق وب سایت متعلق به سازندگاه کسب‌وکارهای نوآورانه
                کانی‌بوم می باشد.
              </div>
            </div>
          </div>
        </footer>

        <div class="page-lines">
          <div class="container">
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SCRIPTS -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/smoothscroll.js"></script>
    <script src="../js/jquery.validate.min.js"></script>
    <script src="../js/wow.min.js"></script>
    <script src="../js/jquery.stellar.min.js"></script>
    <script src="../js/jquery.magnific-popup.js"></script>
    <script src="../js/owl.carousel.min.js"></script>

    <!-- SLIDER REVOLUTION -->
    <script src="../js/rev-slider/jquery.themepunch.tools.min.js"></script>
    <script src="../js/rev-slider/jquery.themepunch.revolution.min.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS   -->
    <script src="../js/rev-slider/revolution.extension.actions.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.carousel.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.kenburn.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.layeranimation.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.migration.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.navigation.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.parallax.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.slideanims.min.js"></script>
    <script src="../js/rev-slider/revolution.extension.video.min.js"></script>
    <script src="../js/interface.js"></script>
    <script>
      const form = document.querySelector(".plan-form");
      form.onsubmit = (e) => {
        e.preventDefault();
        //submitForm function in interface.js
        submitForm(form, "plan");
      };
    </script>
  </body>
</html>
